.swiper-pagination-bullet{
	margin: 0 0.4rem;
}

.swiper-pagination-bullet:focus,
.swiper-pagination-bullet:active,
.swiper-pagination-bullet,
.swiper-button-prev:active,
.swiper-button-prev:focus,
.swiper-button-prev,
.swiper-button-next:active,
.swiper-button-next:focus,
.swiper-button-next{
	outline: 0;
}


.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 0%;
  bottom: 0%;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
}
.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}
.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}





/*pagination*/
[aria-label*=slide]:focus{
  outline: 0;
}




/*special nav*/
/*1 nav*/
/*.swiper-pagination-bullets-dynamic{ overflow: visible; }*/
.swiper-pagination-bullet-active, .swiper-pagination-bullet-active-main{ background: #31b1cd; }
.news_nav .swiper-pagination-bullet-active-main:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6px;
  right: 0;
  margin:auto;
  width: 20px;
  height: 20px;
  border: 1px solid #31b1cd;
  -webkit-border-radius: 200%;
  -moz-border-radius: 200%;
  border-radius: 200%;
}

.normal_bullets .swiper-pagination-bullet{
  width: 5px;
  height: 5px;
  /*transition*/
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.bullets_white .swiper-pagination-bullet{
  background-color: #fff;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.bullets_white .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #31b1cd;
}




/*bullets & arrow*/
/*height*/
.swiper-pagination-bullets{
  width: 4px;
  height: 4px;
}
.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
  height: 8px;
}


  
/*container*/
.swiper-container{
  /*box-sizing*/
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}


/*vertical swiper*/
.vertical_pagination{
  /*rotation*/
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}