/*bugs floats*/
/*en contenedores*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
/*ó*/
/*recomendo*/
.clear_floats  { height: 1%; overflow:hidden; }



/*list - numeration*/
ul.list_disc li,
ul.list_disc{ list-style: disc }
ul.list_circle li,
ul.list_circle{ list-style: circle }
ul.list_square li,
ul.list_square{ list-style: square }
ol.list_decimal li,
ol.list_decimal{ list-style: decimal }
ol.list_decimal_leading_zero li,
ol.list_decimal_leading_zero{ list-style: decimal-leading-zero }
ol.list_lower_roman li,
ol.list_lower_roman{ list-style: lower-roman }
ol.list_upper_roman li,
ol.list_upper_roman{ list-style: upper-roman }
ol.list_lower_greek li,
ol.list_lower_greek{ list-style: lower-greek }
ol.list_lower_latin li,
ol.list_lower_latin{ list-style: lower-latin }
ol.list_upper_latin li,
ol.list_upper_latin{ list-style: upper-latin }
ol.list_armenian li,
ol.list_armenian{ list-style: armenian }
ol.list_georgian li,
ol.list_georgian{ list-style: georgian }
ol.list_lower_alpha li,
ol.list_lower_alpha{ list-style: lower-alpha }
ol.list_upper_alpha li,
ol.list_upper_alpha{ list-style: upper-alpha }
ol.list_none li,
ol.list_none{ list-style: none }
ol.list_inherit li,
ol.list_inherit{ list-style: inherit }

ul.list_p_inside li,
ul.list_p_inside,
ol.list_p_inside li,
ol.list_p_inside{ list-style-position: inside; }
ul.list_p_outside li,
ul.list_p_outside,
ol.list_p_outside li,
ol.list_p_outside{ list-style-position: outside; }


/*font style*/
.capitalize{ text-transform: capitalize; }
.uppercase{ text-transform: uppercase; }
.lowercase{ text-transform: lowercase; }
.italic{ font-style: italic; }
.f_w_normal{ font-weight: normal; }
.f_style_normal{ font-style: normal; }
.thin{ font-weight: 100; }
.light{ font-weight: 300; }
.bold,.boldemort,
.bolder{ font-weight: bold; }
.black{ font-weight: 900; }
.no_underline_hover:hover,
.no_underline{ text-decoration: none; }
.underline_hover:hover,
.underline{ text-decoration: underline; }

/*cursor*/
.pointer{ cursor: pointer; }
.cursor_default{ cursor: default; }
.cursor_auto{ cursor: auto; }
.cursor_default{ cursor: default; }
.cursor_initial{ cursor: initial; }
.cursor_text{ cursor: text; }
.cursor_disable{ cursor: not-allowed; }


/*positions*/

/*initial*/
.p_initial{ position: initial; }

/*static*/
.p_static{ position: static; }

/*sticky*/
.p_sticky{ position: sticky; }

/*relative*/
.relative{ position: relative; }

/*absolute*/
.absolute_tl,
.absolute_tr,
.absolute_bl,
.absolute_br,
.absolute_default,
.absolute{ position: absolute; }
.full_absolute{ position: absolute; height: 100%; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/*fixed*/
*[class*=fixed]{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    backface-visibility:         hidden;
}
.fixed_issue{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}
.fixed_tl,
.fixed_tr,
.fixed_bl,
.fixed_br,
.full_fixed,
.fixed_default,
.fixed{
    position: fixed;
}
.full_fixed{ position: fixed; height: 100%; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.full_absolute,
.full_fixed,
.absolute_tl,
.absolute_default,
.fixed_tl,
.fixed_default{ top: 0; left: 0; }

.absolute_tr,
.fixed_tr{ right: 0; top: 0;}
.absolute_bl,
.fixed_bl{ left: 0; bottom: 0;}
.absolute_br,
.fixed_br{ right: 0; bottom: 0;}

/*position*/
.top_0{ top: 0; }
.left_0{ left: 0; }
.right_0{ right: 0; }
.bottom_0{ bottom: 0; }

.top_50p{ top: 50%; }
.top_100p{ top: 100%; }

.left_50p{ left: 50%; }
.left_100p{ left: 100%; }

.right_50p{ right: 50%; }
.right_100p{ right: 100%; }

.bottom_50p{ bottom: 50%; }
.bottom_100p{ bottom: 100%; }

/*rem*/
.top_05{ top: 0.5rem; }
.top_1{ top: 1rem; }
.top_2{ top: 2rem; }
.top_3{ top: 3rem; }
.top_4{ top: 4rem; }
.top_5{ top: 5rem; }
.top_10{ top: 10rem; }
.top_15{ top: 15rem; }
.top_20{ top: 20rem; }
.top_25{ top: 25rem; }
.top_30{ top: 30rem; }
.top_35{ top: 35rem; }
.top_40{ top: 40rem; }
.top_45{ top: 45rem; }
.top_50{ top: 50rem; }
.top_55{ top: 55rem; }
.top_60{ top: 60rem; }
.top_70{ top: 70rem; }
.top_80{ top: 80rem; }
.top_90{ top: 90rem; }
.top_100{ top: 100rem; }

.left_05{ left: 0.5rem; }
.left_1{ left: 1rem; }
.left_2{ left: 2rem; }
.left_3{ left: 3rem; }
.left_4{ left: 4rem; }
.left_5{ left: 5rem; }
.left_10{ left: 10rem; }
.left_15{ left: 15rem; }
.left_20{ left: 20rem; }
.left_25{ left: 25rem; }
.left_30{ left: 30rem; }
.left_35{ left: 35rem; }
.left_40{ left: 40rem; }
.left_45{ left: 45rem; }
.left_50{ left: 50rem; }
.left_60{ left: 60rem; }
.left_70{ left: 70rem; }
.left_80{ left: 80rem; }
.left_90{ left: 90rem; }
.left_100{ left: 100rem; }

.right_05{ right: 0.5rem; }
.right_1{ right: 1rem; }
.right_2{ right: 2rem; }
.right_3{ right: 3rem; }
.right_4{ right: 4rem; }
.right_5{ right: 5rem; }
.right_10{ right: 10rem; }
.right_15{ right: 15rem; }
.right_20{ right: 20rem; }
.right_25{ right: 25rem; }
.right_30{ right: 30rem; }
.right_35{ right: 35rem; }
.right_40{ right: 40rem; }
.right_45{ right: 45rem; }
.right_50{ right: 50rem; }
.right_60{ right: 60rem; }
.right_70{ right: 70rem; }
.right_80{ right: 80rem; }
.right_90{ right: 90rem; }
.right_100{ right: 100rem; }

.bottom_05{ bottom: 0.5rem; }
.bottom_1{ bottom: 1rem; }
.bottom_2{ bottom: 2rem; }
.bottom_3{ bottom: 3rem; }
.bottom_4{ bottom: 4rem; }
.bottom_5{ bottom: 5rem; }
.bottom_10{ bottom: 10rem; }
.bottom_15{ bottom: 15rem; }
.bottom_20{ bottom: 20rem; }
.bottom_25{ bottom: 25rem; }
.bottom_30{ bottom: 30rem; }
.bottom_35{ bottom: 35rem; }
.bottom_40{ bottom: 40rem; }
.bottom_45{ bottom: 45rem; }
.bottom_50{ bottom: 50rem; }
.bottom_60{ bottom: 60rem; }
.bottom_70{ bottom: 70rem; }
.bottom_80{ bottom: 80rem; }
.bottom_90{ bottom: 90rem; }
.bottom_100{ bottom: 100rem; }



/*align*/
.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }
.justify{ text-align: justify; }
/*vertical*/
.vertical_text{
    -o-transform: rotate(90deg);
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

/*for divs*/
.center_div{ margin: 0 auto; }
/*block aligh*/
.right_block{ margin: 0 0 0 auto }
.left_block{ margin: 0 auto 0 0 }
.center_absolute{ position: absolute; top:0; bottom:0; left:0; right:0; margin: auto; }

.center_left_absolute{ position: absolute; top:0; bottom:0; left:0; right:auto; margin: auto; }
.center_right_absolute{ position: absolute; top:0; bottom:0; left:auto; right:0; margin: auto; }
.center_top_absolute{ position: absolute; top:0; bottom:auto; left:0; right:0; margin: auto; }
.center_bottom_absolute{ position: absolute; top:auto; bottom:0; left:0; right:0; margin: auto; }
.center_rl_absolute,.center_lr_absolute{ position: absolute; left:0; right:0; margin: auto; }
.center_tb_absolute,.center_bt_absolute{ position: absolute; top:0; bottom:0; margin: auto; }

.center{ top:0; bottom:0; left:0; right:0; margin: auto; }
.center_left{ top:0; bottom:0; left:0; right:auto; margin: auto; }
.center_right{ top:0; bottom:0; left:auto; right:0; margin: auto; }

/*center align vertical*/
.midd_container{ display: table; width: 100%;}
.midd_container .midd_cell{ display: table-cell; vertical-align: middle; }
/*vertical align*/
.v_top_all > *,
.v_top{ vertical-align: top; }
.v_midd_all > *,
.v_midd{ vertical-align: middle; }
.v_bottom_all > *,
.v_bottom{ vertical-align: bottom; }

/*inlines*/
.inline,
.inline_divs > *{ display: inline-block; }
.just_inline_divs > *,
.just_inline{ display: inline; }

/*block*/
.block_divs > *,
.block{ display: block; }
/*table*/
.d_table{ display: table; }
/*table-cell*/
.d_table_cell{ display: table-cell; }


/*hidden*/
.hide{ display: none; }
/*visibility*/
.visibility_hide,
.visibility_hide_hover_all:hover .visibility_hide_hover,
.visibility_hide_active_all.selected .visibility_hide_active,
.visibility_hide_active_all.active .visibility_hide_active,
.visibility_hide_hover:hover{
    visibility: hidden;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}
.visibility_show,
.visibility_show_hover_all:hover .visibility_show_hover,
.visibility_show_active_all.selected .visibility_show_active,
.visibility_show_active_all.active .visibility_show_active,
.visibility_show_hover:hover{
    visibility: visible;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}


/*font size*/
.column_container > .fs_0, .fs_0{ font-size: 0rem; }
.column_container > .fs_06, .fs_06{ font-size: 0.6rem; }
.column_container > .fs_07, .fs_07{ font-size: 0.7rem; }
.column_container > .fs_08, .fs_08{ font-size: 0.8rem; }
.column_container > .fs_09, .fs_09{ font-size: 0.9rem; }
.column_container > .fs_1, .fs_1{ font-size: 1rem; }
.column_container > .fs_11, .fs_11{ font-size: 1.1rem; }
.column_container > .fs_12, .fs_12{ font-size: 1.2rem; }
.column_container > .fs_13, .fs_13{ font-size: 1.3rem; }
.column_container > .fs_14, .fs_14{ font-size: 1.4rem; }
.column_container > .fs_15, .fs_15{ font-size: 1.5rem; }
.column_container > .fs_2, .fs_2{ font-size: 2rem; }
.column_container > .fs_25, .fs_25{ font-size: 2.5rem; }
.column_container > .fs_3, .fs_3{ font-size: 3rem; }
.column_container > .fs_35, .fs_35{ font-size: 3.5rem; }
.column_container > .fs_4, .fs_4{ font-size: 4rem; }
.column_container > .fs_45, .fs_45{ font-size: 4.5rem; }
.column_container > .fs_5, .fs_5{ font-size: 5rem; }
.column_container > .fs_55, .fs_55{ font-size: 5.5rem; }
.column_container > .fs_6, .fs_6{ font-size: 6rem; }
.column_container > .fs_65, .fs_65{ font-size: 6.5rem; }
.column_container > .fs_7, .fs_7{ font-size: 7rem; }
.column_container > .fs_75, .fs_75{ font-size: 7.5rem; }
.column_container > .fs_8, .fs_8{ font-size: 8rem; }
.column_container > .fs_85, .fs_85{ font-size: 8.5rem; }
.column_container > .fs_9, .fs_9{ font-size: 9rem; }
.column_container > .fs_95, .fs_95{ font-size: 9.5rem; }
.column_container > .fs_10, .fs_10{ font-size: 10rem; }

/*line-height*/
.lh_normal{ line-height: normal; }
.lh_07{ line-height: 0.7rem; }
.lh_06{ line-height: 0.6rem; }
.lh_08{ line-height: 0.8rem; }
.lh_09{ line-height: 0.9rem; }
.lh_1{ line-height: 1rem; }
.lh_11{ line-height: 1.1rem; }
.lh_12{ line-height: 1.2rem; }
.lh_13{ line-height: 1.3rem; }
.lh_14{ line-height: 1.4rem; }
.lh_15{ line-height: 1.5rem; }
.lh_2{ line-height: 2rem; }
.lh_25{ line-height: 2.5rem; }
.lh_3{ line-height: 3rem; }
.lh_35{ line-height: 3.5rem; }
.lh_4{ line-height: 4rem; }
.lh_45{ line-height: 4.5rem; }
.lh_5{ line-height: 5rem; }
.lh_55{ line-height: 5.5rem; }
.lh_6{ line-height: 6rem; }
.lh_65{ line-height: 6.5rem; }
.lh_7{ line-height: 7rem; }
.lh_75{ line-height: 7.5rem; }
.lh_8{ line-height: 8rem; }
.lh_85{ line-height: 8.5rem; }
.lh_9{ line-height: 9rem; }
.lh_95{ line-height: 9.5rem; }
.lh_10{ line-height: 10rem; }


/*circle*/
.circle{
    -webkit-border-radius: 200%;
    -moz-border-radius: 200%;
    border-radius: 200%;
}
/*border radius*/
/*px*/
.r0{ -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }
.r3px{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.r5px{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
/*rem*/
.r1{ -webkit-border-radius: 1rem; -moz-border-radius: 1rem; border-radius: 1rem; }
.r15{ -webkit-border-radius: 1.5rem; -moz-border-radius: 1.5rem; border-radius: 1.5rem; }
.r2{ -webkit-border-radius: 2rem; -moz-border-radius: 2rem; border-radius: 2rem; }
.r25{ -webkit-border-radius: 2.5rem; -moz-border-radius: 2.5rem; border-radius: 2.5rem; }
.r3{ -webkit-border-radius: 3rem; -moz-border-radius: 3rem; border-radius: 3rem; }
.r35{ -webkit-border-radius: 3.5rem; -moz-border-radius: 3.5rem; border-radius: 3.5rem; }
.r4{ -webkit-border-radius: 4rem; -moz-border-radius: 4rem; border-radius: 4rem; }
.r45{ -webkit-border-radius: 4.5rem; -moz-border-radius: 4.5rem; border-radius: 4.5rem; }
.r5{ -webkit-border-radius: 5rem; -moz-border-radius: 5rem; border-radius: 5rem; }
.r55{ -webkit-border-radius: 5.5rem; -moz-border-radius: 5.5rem; border-radius: 5.5rem; }
.r6{ -webkit-border-radius: 6rem; -moz-border-radius: 6rem; border-radius: 6rem; }
.r7{ -webkit-border-radius: 7rem; -moz-border-radius: 7rem; border-radius: 7rem; }
.r8{ -webkit-border-radius: 8rem; -moz-border-radius: 8rem; border-radius: 8rem; }
.r9{ -webkit-border-radius: 9rem; -moz-border-radius: 9rem; border-radius: 9rem; }
.r10{ -webkit-border-radius: 10rem; -moz-border-radius: 10rem; border-radius: 10rem; }

/*icons*/
.icon,.bck_cover,.bck_100{ background-position: center center; background-repeat: no-repeat; }
.icon,.bck_100{
    /*background size*/
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
/*cover background*/
.bck_cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bck_100,.bck_cover{
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
/*img*/
/*object-fit*/
.img_cover{ object-fit: cover; }
/*position*/
.object_br { object-position: 100% 100%; }
.object_bl { object-position: 0  100%; }
.object_tl { object-position: 0  0; }
.object_tr { object-position: 100%  0; }

/*fixed background*/
.bck_fixed{ background-attachment: fixed; }

/*padding*/
*[class*=pad_], *[class*=_divs] > *,
.box_sizing_all, .box_sizing_all *,
.box_sizing{
    /*box-sizing*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.no_padding{
    padding: 0;
}

/*all*/
.pad_05_divs > *, .pad_05{ padding: 0.5rem; }
.pad_1_divs > *, .pad_1{ padding: 1rem; }
.pad_1p5_divs > *, .pad_1p5{ padding: 1.5rem; }
.pad_2_divs > *, .pad_2{ padding: 2rem; }
.pad_2p5_divs > *, .pad_2p5{ padding: 2.5rem; }
.pad_3_divs > *, .pad_3{ padding: 3rem; }
.pad_3p5_divs > *, .pad_3p5{ padding: 3.5rem; }
.pad_4_divs > *, .pad_4{ padding: 4rem; }
.pad_4p5_divs > *, .pad_4p5{ padding: 4.5rem; }
.pad_5_divs > *, .pad_5{ padding: 5rem; }
.pad_10_divs > *, .pad_10{ padding: 10rem; }

.pad_15_divs > *, .pad_15{ padding: 15rem; }
.pad_20_divs > *, .pad_20{ padding: 20rem; }
.pad_25_divs > *, .pad_25{ padding: 25rem; }
.pad_30_divs > *, .pad_30{ padding: 30rem; }
.pad_35_divs > *, .pad_35{ padding: 35rem; }
.pad_40_divs > *, .pad_40{ padding: 40rem; }
.pad_45_divs > *, .pad_45{ padding: 45rem; }
.pad_50_divs > *, .pad_50{ padding: 50rem; }


/*top - bottom*/
.pad_tb_0{ padding-top: 0; padding-bottom: 0; }
.pad_tb_05{ padding-top: 0.5rem; padding-bottom: 0.5rem; }
.pad_tb_1{ padding-top: 1rem; padding-bottom: 1rem; }
.pad_tb_1p5{ padding-top: 1.5rem; padding-bottom: 1.5rem; }
.pad_tb_2{ padding-top: 2rem; padding-bottom: 2rem; }
.pad_tb_2p5{ padding-top: 2.5rem; padding-bottom: 2.5rem; }
.pad_tb_3{ padding-top: 3rem; padding-bottom: 3rem; }
.pad_tb_3p5{ padding-top: 3.5rem; padding-bottom: 3.5rem; }
.pad_tb_4{ padding-top: 4rem; padding-bottom: 4rem; }
.pad_tb_4p5{ padding-top: 4.5rem; padding-bottom: 4.5rem; }
.pad_tb_5{ padding-top: 5rem; padding-bottom: 5rem; }
.pad_tb_10{ padding-top: 10rem; padding-bottom: 10rem; }
.pad_tb_15{ padding-top: 15rem; padding-bottom: 15rem; }
.pad_tb_20{ padding-top: 20rem; padding-bottom: 20rem; }
.pad_tb_25{ padding-top: 25rem; padding-bottom: 25rem; }
.pad_tb_30{ padding-top: 30rem; padding-bottom: 30rem; }
.pad_tb_35{ padding-top: 35rem; padding-bottom: 35rem; }
.pad_tb_40{ padding-top: 40rem; padding-bottom: 40rem; }
.pad_tb_45{ padding-top: 45rem; padding-bottom: 45rem; }
.pad_tb_50{ padding-top: 50rem; padding-bottom: 50rem; }


/*left - right*/
.pad_lr_0{ padding-left: 0; padding-right: 0; }
.pad_lr_05{ padding-left: 0.5rem; padding-right: 0.5rem; }
.pad_lr_1{ padding-left: 1rem; padding-right: 1rem; }
.pad_lr_1p5{ padding-left: 1.5rem; padding-right: 1.5rem; }
.pad_lr_2{ padding-left: 2rem; padding-right: 2rem; }
.pad_lr_2p5{ padding-left: 2.5rem; padding-right: 2.5rem; }
.pad_lr_3{ padding-left: 3rem; padding-right: 3rem; }
.pad_lr_3p5{ padding-left: 3.5rem; padding-right: 3.5rem; }
.pad_lr_4{ padding-left: 4rem; padding-right: 4rem; }
.pad_lr_4p5{ padding-left: 4.5rem; padding-right: 4.5rem; }
.pad_lr_5{ padding-left: 5rem; padding-right: 5rem; }
.pad_lr_10{ padding-left: 10rem; padding-right: 10rem; }
.pad_lr_15{ padding-left: 15rem; padding-right: 15rem; }
.pad_lr_20{ padding-left: 20rem; padding-right: 20rem; }
.pad_lr_25{ padding-left: 25rem; padding-right: 25rem; }
.pad_lr_30{ padding-left: 30rem; padding-right: 30rem; }
.pad_lr_35{ padding-left: 35rem; padding-right: 35rem; }
.pad_lr_40{ padding-left: 40rem; padding-right: 40rem; }
.pad_lr_45{ padding-left: 45rem; padding-right: 45rem; }
.pad_lr_50{ padding-left: 50rem; padding-right: 50rem; }


/*top*/
.pad_t_0{ padding-top: 0rem; }
.pad_t_05{ padding-top: 0.5rem; }
.pad_t_1{ padding-top: 1rem; }
.pad_t_1p5{ padding-top: 1.5rem; }
.pad_t_2{ padding-top: 2rem; }
.pad_t_2p5{ padding-top: 2.5rem; }
.pad_t_3{ padding-top: 3rem; }
.pad_t_3p5{ padding-top: 3.5rem; }
.pad_t_4{ padding-top: 4rem; }
.pad_t_4p5{ padding-top: 4.5rem; }
.pad_t_5{ padding-top: 5rem; }
.pad_t_10{ padding-top: 10rem; }
.pad_t_15{ padding-top: 15rem; }
.pad_t_20{ padding-top: 20rem; }
.pad_t_25{ padding-top: 25rem; }
.pad_t_30{ padding-top: 30rem; }
.pad_t_35{ padding-top: 35rem; }
.pad_t_40{ padding-top: 40rem; }
.pad_t_45{ padding-top: 45rem; }
.pad_t_50{ padding-top: 50rem; }


/*bottom*/
.pad_b_0{ padding-bottom: 0rem; }
.pad_b_05{ padding-bottom: 0.5rem; }
.pad_b_1{ padding-bottom: 1rem; }
.pad_b_1p5{ padding-bottom: 1.5rem; }
.pad_b_2{ padding-bottom: 2rem; }
.pad_b_2p5{ padding-bottom: 2.5rem; }
.pad_b_3{ padding-bottom: 3rem; }
.pad_b_3p5{ padding-bottom: 3.5rem; }
.pad_b_4{ padding-bottom: 4rem; }
.pad_b_4p5{ padding-bottom: 4.5rem; }
.pad_b_5{ padding-bottom: 5rem; }
.pad_b_10{ padding-bottom: 10rem; }
.pad_b_15{ padding-bottom: 15rem; }
.pad_b_20{ padding-bottom: 20rem; }
.pad_b_25{ padding-bottom: 25rem; }
.pad_b_30{ padding-bottom: 30rem; }
.pad_b_35{ padding-bottom: 35rem; }
.pad_b_40{ padding-bottom: 40rem; }
.pad_b_45{ padding-bottom: 45rem; }
.pad_b_50{ padding-bottom: 50rem; }


/*left*/
.pad_l_0{ padding-left: 0rem; }
.pad_l_05{ padding-left: 0.5rem; }
.pad_l_1{ padding-left: 1rem; }
.pad_l_1p5{ padding-left: 1.5rem; }
.pad_l_2{ padding-left: 2rem; }
.pad_l_2p5{ padding-left: 2.5rem; }
.pad_l_3{ padding-left: 3rem; }
.pad_l_3p5{ padding-left: 3.5rem; }
.pad_l_4{ padding-left: 4rem; }
.pad_l_4p5{ padding-left: 4.5rem; }
.pad_l_5{ padding-left: 5rem; }
.pad_l_10{ padding-left: 10rem; }
.pad_l_15{ padding-left: 15rem; }
.pad_l_20{ padding-left: 20rem; }
.pad_l_25{ padding-left: 25rem; }
.pad_l_30{ padding-left: 30rem; }
.pad_l_35{ padding-left: 35rem; }
.pad_l_40{ padding-left: 40rem; }
.pad_l_45{ padding-left: 45rem; }
.pad_l_50{ padding-left: 50rem; }


/*right*/
.pad_r_0{ padding-right: 0rem; }
.pad_r_05{ padding-right: 0.5rem; }
.pad_r_1{ padding-right: 1rem; }
.pad_r_1p5{ padding-right: 1.5rem; }
.pad_r_2{ padding-right: 2rem; }
.pad_r_2p5{ padding-right: 2.5rem; }
.pad_r_3{ padding-right: 3rem; }
.pad_r_3p5{ padding-right: 3.5rem; }
.pad_r_4{ padding-right: 4rem; }
.pad_r_4p5{ padding-right: 4.5rem; }
.pad_r_5{ padding-right: 5rem; }
.pad_r_10{ padding-right: 10rem; }
.pad_r_15{ padding-right: 15rem; }
.pad_r_20{ padding-right: 20rem; }
.pad_r_25{ padding-right: 25rem; }
.pad_r_30{ padding-right: 30rem; }
.pad_r_35{ padding-right: 35rem; }
.pad_r_40{ padding-right: 40rem; }
.pad_r_45{ padding-right: 45rem; }
.pad_r_50{ padding-right: 50rem; }



/*margin*/
.mar_auto{ margin: auto; }
.mar_0{ margin: 0; }



/*top - bottom*/
.mar_tb_0{ margin-top: 0; margin-bottom: 0; }
.mar_tb_01{ margin-top: 0.1rem; margin-bottom: 0.1rem; }
.mar_tb_02{ margin-top: 0.2rem; margin-bottom: 0.2rem; }
.mar_tb_03{ margin-top: 0.3rem; margin-bottom: 0.3rem; }
.mar_tb_04{ margin-top: 0.4rem; margin-bottom: 0.4rem; }
.mar_tb_05{ margin-top: 0.5rem; margin-bottom: 0.5rem; }
.mar_tb_1{ margin-top: 1rem; margin-bottom: 1rem; }
.mar_tb_1p5{ margin-top: 1.5rem; margin-bottom: 1.5rem; }
.mar_tb_2{ margin-top: 2rem; margin-bottom: 2rem; }
.mar_tb_2p5{ margin-top: 2.5rem; margin-bottom: 2.5rem; }
.mar_tb_3{ margin-top: 3rem; margin-bottom: 3rem; }
.mar_tb_3p5{ margin-top: 3.5rem; margin-bottom: 3.5rem; }
.mar_tb_4{ margin-top: 4rem; margin-bottom: 4rem; }
.mar_tb_4p5{ margin-top: 4.5rem; margin-bottom: 4.5rem; }
.mar_tb_5{ margin-top: 5rem; margin-bottom: 5rem; }
.mar_tb_10{ margin-top: 10rem; margin-bottom: 10rem; }
.mar_tb_15{ margin-top: 15rem; margin-bottom: 15rem; }
.mar_tb_20{ margin-top: 20rem; margin-bottom: 20rem; }
.mar_tb_25{ margin-top: 25rem; margin-bottom: 25rem; }
.mar_tb_30{ margin-top: 30rem; margin-bottom: 30rem; }
.mar_tb_35{ margin-top: 35rem; margin-bottom: 35rem; }
.mar_tb_40{ margin-top: 40rem; margin-bottom: 40rem; }
.mar_tb_45{ margin-top: 45rem; margin-bottom: 45rem; }
.mar_tb_50{ margin-top: 50rem; margin-bottom: 50rem; }


/*left - right*/
.mar_lr_0{ margin-left: 0; margin-right: 0; }
.mar_lr_05{ margin-left: 0.5rem; margin-right: 0.5rem; }
.mar_lr_1{ margin-left: 1rem; margin-right: 1rem; }
.mar_lr_1p5{ margin-left: 1.5rem; margin-right: 1.5rem; }
.mar_lr_2{ margin-left: 2rem; margin-right: 2rem; }
.mar_lr_2p5{ margin-left: 2.5rem; margin-right: 2.5rem; }
.mar_lr_3{ margin-left: 3rem; margin-right: 3rem; }
.mar_lr_3p5{ margin-left: 3.5rem; margin-right: 3.5rem; }
.mar_lr_4{ margin-left: 4rem; margin-right: 4rem; }
.mar_lr_4p5{ margin-left: 4.5rem; margin-right: 4.5rem; }
.mar_lr_5{ margin-left: 5rem; margin-right: 5rem; }
.mar_lr_10{ margin-left: 10rem; margin-right: 10rem; }
.mar_lr_15{ margin-left: 15rem; margin-right: 15rem; }
.mar_lr_20{ margin-left: 20rem; margin-right: 20rem; }
.mar_lr_25{ margin-left: 25rem; margin-right: 25rem; }
.mar_lr_30{ margin-left: 30rem; margin-right: 30rem; }
.mar_lr_35{ margin-left: 35rem; margin-right: 35rem; }
.mar_lr_40{ margin-left: 40rem; margin-right: 40rem; }
.mar_lr_45{ margin-left: 45rem; margin-right: 45rem; }
.mar_lr_50{ margin-left: 50rem; margin-right: 50rem; }


/*top*/
.mar_t_0{ margin-top: 0rem; }
.mar_t_01{ margin-top: 0.1rem; }
.mar_t_02{ margin-top: 0.2rem; }
.mar_t_03{ margin-top: 0.3rem; }
.mar_t_04{ margin-top: 0.4rem; }
.mar_t_05{ margin-top: 0.5rem; }
.mar_t_1{ margin-top: 1rem; }
.mar_t_1p5{ margin-top: 1.5rem; }
.mar_t_2{ margin-top: 2rem; }
.mar_t_2p5{ margin-top: 2.5rem; }
.mar_t_3{ margin-top: 3rem; }
.mar_t_3p5{ margin-top: 3.5rem; }
.mar_t_4{ margin-top: 4rem; }
.mar_t_4p5{ margin-top: 4.5rem; }
.mar_t_5{ margin-top: 5rem; }
.mar_t_10{ margin-top: 10rem; }
.mar_t_15{ margin-top: 15rem; }
.mar_t_20{ margin-top: 20rem; }
.mar_t_25{ margin-top: 25rem; }
.mar_t_30{ margin-top: 30rem; }
.mar_t_35{ margin-top: 35rem; }
.mar_t_40{ margin-top: 40rem; }
.mar_t_45{ margin-top: 45rem; }
.mar_t_50{ margin-top: 50rem; }


/*bottom*/
.mar_b_0{ margin-bottom: 0rem; }
.mar_b_05{ margin-bottom: 0.5rem; }
.mar_b_1{ margin-bottom: 1rem; }
.mar_b_1p5{ margin-bottom: 1.5rem; }
.mar_b_2{ margin-bottom: 2rem; }
.mar_b_2p5{ margin-bottom: 2.5rem; }
.mar_b_3{ margin-bottom: 3rem; }
.mar_b_3p5{ margin-bottom: 3.5rem; }
.mar_b_4{ margin-bottom: 4rem; }
.mar_b_4p5{ margin-bottom: 4.5rem; }
.mar_b_5{ margin-bottom: 5rem; }
.mar_b_10{ margin-bottom: 10rem; }
.mar_b_15{ margin-bottom: 15rem; }
.mar_b_20{ margin-bottom: 20rem; }
.mar_b_25{ margin-bottom: 25rem; }
.mar_b_30{ margin-bottom: 30rem; }
.mar_b_35{ margin-bottom: 35rem; }
.mar_b_40{ margin-bottom: 40rem; }
.mar_b_45{ margin-bottom: 45rem; }
.mar_b_50{ margin-bottom: 50rem; }


/*left*/
.mar_l_0{ margin-left: 0rem; }
.mar_l_05{ margin-left: 0.5rem; }
.mar_l_1{ margin-left: 1rem; }
.mar_l_1p5{ margin-left: 1.5rem; }
.mar_l_2{ margin-left: 2rem; }
.mar_l_2p5{ margin-left: 2.5rem; }
.mar_l_3{ margin-left: 3rem; }
.mar_l_3p5{ margin-left: 3.5rem; }
.mar_l_4{ margin-left: 4rem; }
.mar_l_4p5{ margin-left: 4.5rem; }
.mar_l_5{ margin-left: 5rem; }
.mar_l_10{ margin-left: 10rem; }
.mar_l_15{ margin-left: 15rem; }
.mar_l_20{ margin-left: 20rem; }
.mar_l_25{ margin-left: 25rem; }
.mar_l_30{ margin-left: 30rem; }
.mar_l_35{ margin-left: 35rem; }
.mar_l_40{ margin-left: 40rem; }
.mar_l_45{ margin-left: 45rem; }
.mar_l_50{ margin-left: 50rem; }


/*right*/
.mar_r_0{ margin-right: 0rem; }
.mar_r_05{ margin-right: 0.5rem; }
.mar_r_1{ margin-right: 1rem; }
.mar_r_1p5{ margin-right: 1.5rem; }
.mar_r_2{ margin-right: 2rem; }
.mar_r_2p5{ margin-right: 2.5rem; }
.mar_r_3{ margin-right: 3rem; }
.mar_r_3p5{ margin-right: 3.5rem; }
.mar_r_4{ margin-right: 4rem; }
.mar_r_4p5{ margin-right: 4.5rem; }
.mar_r_5{ margin-right: 5rem; }
.mar_r_10{ margin-right: 10rem; }
.mar_r_15{ margin-right: 15rem; }
.mar_r_20{ margin-right: 20rem; }
.mar_r_25{ margin-right: 25rem; }
.mar_r_30{ margin-right: 30rem; }
.mar_r_35{ margin-right: 35rem; }
.mar_r_40{ margin-right: 40rem; }
.mar_r_45{ margin-right: 45rem; }
.mar_r_50{ margin-right: 50rem; }





/*list*/
.list > li{ list-style-type: disc; }
.list.inside > li{ list-style-position: inside; }
.list.outside > li{ list-style-position: outside; }
/*overflow*/
.overflow_in{ overflow: inherit; }
.overflow_v{ overflow: visible; }
.overflow_auto{ overflow: auto; }
.overflow_scroll{ overflow-x: scroll; }
.overflow_x_auto{ overflow-x: auto; }
.overflow_y_auto{ overflow-y: auto; }
.overflow_x_scroll{ overflow-x: scroll; }
.overflow_y_scroll{ overflow-x: scroll; }
.overflow_h{ overflow: hidden; }
.overflow_x_h{ overflow-x: hidden; }
.overflow_y_h{ overflow-y: hidden; }

/*float*/
.f_right{ float: right; }
.f_left{ float: left; }
.f_none{ float: none; }

/*rem*/
/*height*/
.hauto{ height: auto; }
.h0{ height: 0rem; }
.h03{ height: 0.3rem; }
.h04{ height: 0.4rem; }
.h05{ height: 0.5rem; }
.h06{ height: 0.6rem; }
.h07{ height: 0.7rem; }
.h08{ height: 0.8rem; }
.h09{ height: 0.9rem; }
.h1{ height: 1rem; }
.h1p5{ height: 1.5rem; }
.h1p6{ height: 1.6rem; }
.h1p7{ height: 1.7rem; }
.h1p8{ height: 1.8rem; }
.h2{ height: 2rem; }
.h2p3{ height: 2.5rem; }
.h2p5{ height: 2.5rem; }
.h3{ height: 3rem; }
.h3p5{ height: 3.5rem; }
.h4{ height: 4rem; }
.h4p5{ height: 4.5rem; }
.h5{ height: 5rem; }
.h5p5{ height: 5.5rem; }
.h6{ height: 6rem; }
.h6p5{ height: 6.5rem; }
.h7{ height: 7rem; }
.h7p5{ height: 7.5rem; }
.h8{ height: 8rem; }
.h8p5{ height: 8.5rem; }
.h9{ height: 9rem; }
.h9p5{ height: 9.5rem; }
.h10{ height: 10rem; }
.h11{ height: 11rem; }
.h12{ height: 12rem; }
.h13{ height: 13rem; }
.h14{ height: 14rem; }
.h15{ height: 15rem; }
.h20{ height: 20rem; }
.h25{ height: 25rem; }
.h30{ height: 30rem; }
.h35{ height: 35rem; }
.h40{ height: 40rem; }
.h45{ height: 45rem; }
.h50{ height: 50rem; }
.h60{ height: 60rem; }
.h70{ height: 70rem; }
.h80{ height: 80rem; }
.h90{ height: 90rem; }
.h100{ height: 100rem; }

/*px*/
.h1px{ height: 1px;}
.h2px{ height: 2px;}
.h3px{ height: 3px;}
.h4px{ height: 4px;}
.h5px{ height: 5px;}
.h10px{ height: 10px;}
.h15px{ height: 15px;}
.h20px{ height: 20px;}

/*width*/
.wauto{ width: auto; }
.w0{ width: 0rem; }
.w03{ width: 0.3rem; }
.w04{ width: 0.4rem; }
.w05{ width: 0.5rem; }
.w06{ width: 0.6rem; }
.w07{ width: 0.7rem; }
.w08{ width: 0.8rem; }
.w09{ width: 0.9rem; }
.w1{ width: 1rem; }
.w1p5{ width: 1.5rem; }
.w1p6{ width: 1.6rem; }
.w1p7{ width: 1.7rem; }
.w1p8{ width: 1.8rem; }
.w2{ width: 2rem; }
.w2p3{ width: 2.3rem; }
.w2p5{ width: 2.5rem; }
.w3{ width: 3rem; }
.w4{ width: 4rem; }
.w5{ width: 5rem; }
.w6{ width: 6rem; }
.w7{ width: 7rem; }
.w8{ width: 8rem; }
.w9{ width: 9rem; }
.w10{ width: 10rem; }
.w11{ width: 11rem; }
.w12{ width: 12rem; }
.w13{ width: 13rem; }
.w14{ width: 14rem; }
.w15{ width: 15rem; }
.w20{ width: 20rem; }
.w25{ width: 25rem; }
.w30{ width: 30rem; }
.w35{ width: 35rem; }
.w40{ width: 40rem; }
.w45{ width: 45rem; }
.w50{ width: 50rem; }
.w60{ width: 60rem; }
.w70{ width: 70rem; }
.w80{ width: 80rem; }
.w90{ width: 90rem; }
.w100{ width: 100rem; }

/*px*/
.w1px{ width: 1px;}
.w2px{ width: 2px;}
.w3px{ width: 3px;}
.w4px{ width: 4px;}
.w5px{ width: 5px;}
.w10px{ width: 10px;}
.w15px{ width: 15px;}
.w20px{ width: 20px;}



/*%*/
/*width*/
/*special grids*/
/*col 6*/
.w16p{ width: 16.6%; }
/*col 7*/
.w14p{ width: 14.28%; }
/*col 8*/
.w12p{ width: 12.5%; }
/*col 8*/
.w11p{ width: 11.11%; }

.w5p{ width: 5%; }
.w10p{ width: 10%; }
.w15p{ width: 15%; }
.w20p{ width: 20%; }
.w25p{ width: 25%; }
.w30p{ width: 30%; }
.w35p{ width: 35%; }
.w33p{ width: 33.33%; }
.w40p{ width: 40%; }
.w45p{ width: 45%; }
.w50p{ width: 50%; }
.w55p{ width: 55%; }
.w60p{ width: 60%; }
.w65p{ width: 65%; }
.w70p{ width: 70%; }
.w75p{ width: 75%; }
.w80p{ width: 80%; }
.w85p{ width: 85%; }
.w90p{ width: 90%; }
.w95p{ width: 95%; }
.w100p{ width: 100%; }

/*height*/
.h5p{ height: 5%; }
.h10p{ height: 10%; }
.h15p{ height: 15%; }
.h20p{ height: 20%; }
.h25p{ height: 25%; }
.h30p{ height: 30%; }
.h35p{ height: 35%; }
.h33p{ height: 33.33%; }
.h40p{ height: 40%; }
.h45p{ height: 45%; }
.h50p{ height: 50%; }
.h55p{ height: 55%; }
.h60p{ height: 60%; }
.h65p{ height: 65%; }
.h70p{ height: 70%; }
.h75p{ height: 75%; }
.h80p{ height: 80%; }
.h85p{ height: 85%; }
.h90p{ height: 90%; }
.h95p{ height: 95%; }
.h100p{ height: 100%; }


/*base * altura*/
/*%*/
.wh5p{ width: 5%; height: 5%;}
.wh10p{ width: 10%; height: 10%;}
.wh20p{ width: 20%; height: 20%;}
.wh30p{ width: 30%; height: 30%;}
.wh40p{ width: 40%; height: 40%;}
.wh50p{ width: 50%; height: 50%;}
.wh60p{ width: 60%; height: 60%;}
.wh70p{ width: 70%; height: 70%;}
.wh80p{ width: 80%; height: 80%;}
.wh90p{ width: 90%; height: 90%;}
.wh100p{ width: 100%; height: 100%;}

/*rem*/
.wh03{ height: 0.3rem; width: 0.3rem; }
.wh04{ height: 0.4rem; width: 0.4rem; }
.wh05{ height: 0.5rem; width: 0.5rem; }
.wh06{ height: 0.6rem; width: 0.6rem; }
.wh07{ height: 0.7rem; width: 0.7rem; }
.wh08{ height: 0.8rem; width: 0.8rem; }
.wh09{ height: 0.9rem; width: 0.9rem; }
.wh1{ height: 1rem; width: 1rem; }
.wh1p1{ height: 1.1rem; width: 1.1rem; }
.wh1p2{ height: 1.2rem; width: 1.2rem; }
.wh1p3{ height: 1.3rem; width: 1.3rem; }
.wh1p4{ height: 1.4rem; width: 1.4rem; }
.wh1p5{ height: 1.5rem; width: 1.5rem; }
.wh2{ height: 2rem; width: 2rem; }
.wh2p5{ height: 2.5rem; width: 2.5rem; }
.wh3{ height: 3rem; width:3rem; }
.wh3p5{ height: 3.5rem; width:3.5rem; }
.wh4{ height: 4rem; width: 4rem; }
.wh4p5{ height: 4.5rem; width: 4.5rem; }
.wh5{ height: 5rem; width: 5rem; }
.wh6{ height: 6rem; width: 6rem; }
.wh7{ height: 7rem; width: 7rem; }
.wh8{ height: 8rem; width: 8rem; }
.wh9{ height: 9rem; width: 9rem; }
.wh10{ height: 10rem; width: 10rem; }
.wh15{ height: 15rem; width: 15rem; }
.wh20{ height: 20rem; width: 20rem; }
.wh25{ height: 25rem; width: 25rem; }
.wh30{ height: 30rem; width: 30rem; }
.wh35{ height: 35rem; width: 35rem; }
.wh40{ height: 40rem; width: 40rem; }
.wh45{ height: 45rem; width: 45rem; }
.wh50{ height: 50rem; width: 50rem; }
.wh55{ height: 55rem; width: 55rem; }
.wh60{ height: 60rem; width: 60rem; }
.wh65{ height: 65rem; width: 65rem; }
.wh70{ height: 70rem; width: 70rem; }
.wh75{ height: 75rem; width: 75rem; }
.wh80{ height: 80rem; width: 80rem; }
.wh85{ height: 85rem; width: 85rem; }
.wh90{ height: 90rem; width: 90rem; }
.wh95{ height: 95rem; width: 95rem; }
.wh100{ height: 100rem; width: 100rem; }

/*px*/
.wh1px{ width: 1px; height: 1px;}
.wh2px{ width: 2px; height: 2px;}
.wh3px{ width: 3px; height: 3px;}
.wh4px{ width: 4px; height: 4px;}
.wh5px{ width: 5px; height: 5px;}
.wh10px{ width: 10px; height: 10px;}
.wh15px{ width: 15px; height: 15px;}
.wh20px{ width: 20px; height: 20px;}


/*calc*/
/*width*/
.w100p-5{ width: calc(100% - 5rem); }
.w100p-10{ width: calc(100% - 10rem); }
.w100p-15{ width: calc(100% - 15rem); }
.w100p-20{ width: calc(100% - 20rem); }
.w100p-25{ width: calc(100% - 25rem); }
.w100p-30{ width: calc(100% - 30rem); }
.w100p-35{ width: calc(100% - 35rem); }
.w100p-40{ width: calc(100% - 40rem); }
.w100p-45{ width: calc(100% - 45rem); }
.w100p-50{ width: calc(100% - 50rem); }
.w100p-60{ width: calc(100% - 60rem); }
.w100p-70{ width: calc(100% - 70rem); }
.w100p-80{ width: calc(100% - 80rem); }
.w100p-90{ width: calc(100% - 90rem); }
.w100p-100{ width: calc(100% - 100rem); }
/*special*/
.w100p-1px{ width: calc(100% - 1px); }
/*height*/
.h100p-5{ height: calc(100% - 5rem); }
.h100p-10{ height: calc(100% - 10rem); }
.h100p-15{ height: calc(100% - 15rem); }
.h100p-20{ height: calc(100% - 20rem); }
.h100p-25{ height: calc(100% - 25rem); }
.h100p-30{ height: calc(100% - 30rem); }
.h100p-35{ height: calc(100% - 35rem); }
.h100p-40{ height: calc(100% - 40rem); }
.h100p-45{ height: calc(100% - 45rem); }
.h100p-50{ height: calc(100% - 50rem); }
.h100p-60{ height: calc(100% - 60rem); }
.h100p-70{ height: calc(100% - 70rem); }
.h100p-80{ height: calc(100% - 80rem); }
.h100p-90{ height: calc(100% - 90rem); }
.h100p-100{ height: calc(100% - 100rem); }
/*special*/
.h100p-1px{ height: calc(100% - 1px); }

/*max*/
/*height*/
.max_hnone{ max-height: initial; }
.max_h1{ max-height: 1rem; }
.max_h2{ max-height: 2rem; }
.max_h3{ max-height: 3rem; }
.max_h4{ max-height: 4rem; }
.max_h5{ max-height: 5rem; }
.max_h10{ max-height: 10rem; }
.max_h15{ max-height: 15rem; }
.max_h20{ max-height: 20rem; }
.max_h25{ max-height: 25rem; }
.max_h30{ max-height: 30rem; }
.max_h35{ max-height: 35rem; }
.max_h40{ max-height: 40rem; }
.max_h45{ max-height: 45rem; }
.max_h50{ max-height: 50rem; }
.max_h55{ max-height: 55rem; }
.max_h60{ max-height: 60rem; }
.max_h65{ max-height: 65rem; }
.max_h70{ max-height: 70rem; }
.max_h75{ max-height: 75rem; }
.max_h80{ max-height: 80rem; }
.max_h85{ max-height: 85rem; }
.max_h90{ max-height: 90rem; }
.max_h95{ max-height: 95rem; }
.max_h100{ max-height: 100rem; }
.max_h200{ max-height: 200rem; }
/*%*/
.max_h100p{ max-height: 100%; }
/*width*/
.max_wnone{ max-width: initial; }
.max_w1{ max-width: 1rem; }
.max_w2{ max-width: 2rem; }
.max_w3{ max-width: 3rem; }
.max_w4{ max-width: 4rem; }
.max_w5{ max-width: 5rem; }
.max_w10{ max-width: 10rem; }
.max_w15{ max-width: 15rem; }
.max_w20{ max-width: 20rem; }
.max_w25{ max-width: 25rem; }
.max_w30{ max-width: 30rem; }
.max_w35{ max-width: 35rem; }
.max_w40{ max-width: 40rem; }
.max_w45{ max-width: 45rem; }
.max_w50{ max-width: 50rem; }
.max_w55{ max-width: 55rem; }
.max_w60{ max-width: 60rem; }
.max_w65{ max-width: 65rem; }
.max_w70{ max-width: 70rem; }
.max_w75{ max-width: 75rem; }
.max_w80{ max-width: 80rem; }
.max_w85{ max-width: 85rem; }
.max_w90{ max-width: 90rem; }
.max_w95{ max-width: 95rem; }
.max_w100{ max-width: 100rem; }
.max_w200{ max-width: 200rem; }
/*%*/
.max_w100p{ max-width: 100%; }

/*min*/
/*height*/
.min_hnone{ min-height: initial; }
.min_h1{ min-height: 1rem; }
.min_h2{ min-height: 2rem; }
.min_h3{ min-height: 3rem; }
.min_h4{ min-height: 4rem; }
.min_h5{ min-height: 5rem; }
.min_h10{ min-height: 10rem; }
.min_h15{ min-height: 15rem; }
.min_h20{ min-height: 20rem; }
.min_h25{ min-height: 25rem; }
.min_h30{ min-height: 30rem; }
.min_h35{ min-height: 35rem; }
.min_h40{ min-height: 40rem; }
.min_h45{ min-height: 45rem; }
.min_h50{ min-height: 50rem; }
.min_h55{ min-height: 55rem; }
.min_h60{ min-height: 60rem; }
.min_h65{ min-height: 65rem; }
.min_h70{ min-height: 70rem; }
.min_h75{ min-height: 75rem; }
.min_h80{ min-height: 80rem; }
.min_h85{ min-height: 85rem; }
.min_h90{ min-height: 90rem; }
.min_h95{ min-height: 95rem; }
.min_h100{ min-height: 100rem; }
.min_h200{ min-height: 200rem; }

/*width*/
.min_wnone{ min-width: initial; }
.min_w1{ min-width: 1rem; }
.min_w2{ min-width: 2rem; }
.min_w3{ min-width: 3rem; }
.min_w4{ min-width: 4rem; }
.min_w5{ min-width: 5rem; }
.min_w10{ min-width: 10rem; }
.min_w15{ min-width: 15rem; }
.min_w20{ min-width: 20rem; }
.min_w25{ min-width: 25rem; }
.min_w30{ min-width: 30rem; }
.min_w35{ min-width: 35rem; }
.min_w40{ min-width: 40rem; }
.min_w45{ min-width: 45rem; }
.min_w50{ min-width: 50rem; }
.min_w55{ min-width: 55rem; }
.min_w60{ min-width: 60rem; }
.min_w65{ min-width: 65rem; }
.min_w70{ min-width: 70rem; }
.min_w75{ min-width: 75rem; }
.min_w80{ min-width: 80rem; }
.min_w85{ min-width: 85rem; }
.min_w90{ min-width: 90rem; }
.min_w95{ min-width: 95rem; }
.min_w100{ min-width: 100rem; }
.min_w200{ min-width: 200rem; }




/*cut word*/
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.break_word{
    word-break: break-all; word-break: break-word;
}
.break_word_dash {
 -ms-word-break: break-all;
     word-break: break-all;
     /* Non standard for webkit */
     word-break: break-word;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}
/*break all words*/
.break_all{ word-break: break-all; }
.keep_all{ word-break: keep-all; }

/*index*/
.z-6{ z-index: -6; }
.z-5{ z-index: -5; }
.z-4{ z-index: -4; }
.z-3{ z-index: -3; }
.z-2{ z-index: -2; }
.z-1{ z-index: -1; }
.z1{ z-index: 1; }
.z2{ z-index: 2; }
.z3{ z-index: 3; }
.z4{ z-index: 4; }
.z5{ z-index: 5; }
.z6{ z-index: 6; }
.z7{ z-index: 7; }
.z8{ z-index: 8; }
.z9{ z-index: 9; }
.z10{ z-index: 10; }
.z99{ z-index: 99; }
.z100{ z-index: 100; }
.z999{ z-index: 999; }
.z9999{ z-index: 9999; }
.z99999{ z-index: 99999; }

/*opacidad*/
.opa_100_hover_all:hover .opa_100_hover,.opa_100_hover:hover,.opa_100{ filter:alpha(opacity=100); -moz-opacity: 1; opacity: 1; }
.opa_95_hover_all:hover .opa_95_hover,.opa_95_hover:hover,.opa_95{ filter:alpha(opacity=95); -moz-opacity: 0.95; opacity: 0.95; }
.opa_90_hover_all:hover .opa_90_hover,.opa_90_hover:hover,.opa_90{ filter:alpha(opacity=90); -moz-opacity: 0.9; opacity: 0.9; }
.opa_85_hover_all:hover .opa_85_hover,.opa_85_hover:hover,.opa_85{ filter:alpha(opacity=85); -moz-opacity: 0.85; opacity: 0.85; }
.opa_80_hover_all:hover .opa_80_hover,.opa_80_hover:hover,.opa_80{ filter:alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; }
.opa_75_hover_all:hover .opa_75_hover,.opa_75_hover:hover,.opa_75{ filter:alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75; }
.opa_70_hover_all:hover .opa_70_hover,.opa_70_hover:hover,.opa_70{ filter:alpha(opacity=70); -moz-opacity: 0.7; opacity: 0.7; }
.opa_65_hover_all:hover .opa_65_hover,.opa_65_hover:hover,.opa_65{ filter:alpha(opacity=65); -moz-opacity: 0.65; opacity: 0.65; }
.opa_60_hover_all:hover .opa_60_hover,.opa_60_hover:hover,.opa_60{ filter:alpha(opacity=60); -moz-opacity: 0.6; opacity: 0.6; }
.opa_55_hover_all:hover .opa_55_hover,.opa_55_hover:hover,.opa_55{ filter:alpha(opacity=55); -moz-opacity: 0.55; opacity: 0.55; }
.opa_50_hover_all:hover .opa_50_hover,.opa_50_hover:hover,.opa_50{ filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; }
.opa_45_hover_all:hover .opa_45_hover,.opa_45_hover:hover,.opa_45{ filter:alpha(opacity=45); -moz-opacity: 0.45; opacity: 0.45; }
.opa_40_hover_all:hover .opa_40_hover,.opa_40_hover:hover,.opa_40{ filter:alpha(opacity=40); -moz-opacity: 0.4; opacity: 0.4; }
.opa_35_hover_all:hover .opa_35_hover,.opa_35_hover:hover,.opa_35{ filter:alpha(opacity=35); -moz-opacity: 0.35; opacity: 0.35; }
.opa_30_hover_all:hover .opa_30_hover,.opa_30_hover:hover,.opa_30{ filter:alpha(opacity=30); -moz-opacity: 0.3; opacity: 0.3; }
.opa_25_hover_all:hover .opa_25_hover,.opa_25_hover:hover,.opa_25{ filter:alpha(opacity=25); -moz-opacity: 0.25; opacity: 0.25; }
.opa_20_hover_all:hover .opa_20_hover,.opa_20_hover:hover,.opa_20{ filter:alpha(opacity=20); -moz-opacity: 0.2; opacity: 0.2; }
.opa_15_hover_all:hover .opa_15_hover,.opa_15_hover:hover,.opa_15{ filter:alpha(opacity=15); -moz-opacity: 0.15; opacity: 0.15; }
.opa_10_hover_all:hover .opa_10_hover,.opa_10_hover:hover,.opa_10{ filter:alpha(opacity=10); -moz-opacity: 0.1; opacity: 0.1; }
.opa_05_hover_all:hover .opa_05_hover,.opa_05_hover:hover,.opa_05{ filter:alpha(opacity=5); -moz-opacity: 0.05; opacity: 0.05; }
.opa_0_hover_all:hover .opa_0_hover,.opa_0_hover:hover,.opa_0{ filter:alpha(opacity=0); -moz-opacity: 0; opacity: 0; }


/*transition*/
.trans_03{
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.trans_05{
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.trans_1{
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}
.trans_15{
    -webkit-transition: all ease 1.5s;
    -moz-transition: all ease 1.5s;
    -o-transition: all ease 1.5s;
    transition: all ease 1.5s;
}
.trans_2{
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    -o-transition: all ease 2s;
    transition: all ease 2s;
}






/*grid*/
.row_lm{ padding-top: 1.5rem; }


/*columnas*/
.column_container > .column_container,
.column_container{ font-size: 0; }
.column_container > *{ font-size: 1rem; display: inline-block; }




/*border outline*/
.no_border_all *,
.no_border_all,
.no_border{ border: 0; }
.no_outline_all *,
.no_outline_all,
.no_outline{ outline: 0; }

/*border none*/
button.border_none:focus,
a.border_none:focus,
a.border_none:active,
.border_none,
.border_none:focus,
.border_none:active,

/*focus active*/
button.focus_active_none:focus,
a.focus_active_none:focus,
a.focus_active_none:active,
.focus_active_none:focus,
.focus_active_none:active
{
    border:0;
    outline: 0;
}




.btn_ovalo_l,
.btn_ovalo_xl,
.btn_ovalo_sm,
.btn_ovalo{
    border:0;
    /*transition*/
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.btn_ovalo_xl,
.btn_ovalo_l,
.btn_ovalo,
.btn_ovalo_sm{
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    border-radius: 10rem;
}

.btn_ovalo_sm{
    padding: 0.3rem 0.8rem;
}

.btn_ovalo{
    padding: 0.5rem 0.6rem;
}

.btn_ovalo_l{
    padding: 0.8rem 1rem;
}

.btn_ovalo_xl{
    padding: 0.8rem 1.8rem;
}



.row_lm,
.column_container,
.column_container > *,
.btn_ovalo_xl,
.btn_ovalo_l,
.btn_ovalo_sm,
.btn_ovalo{
    /*box-sizing*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}






/*fixed header_lm footer*/
.header_fixed,
.footer_fixed{
    position: fixed;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}

.header_fixed{ top: 0; }
.footer_fixed{ bottom: 0; }



/*page 100p*/
html.full_h100p ,html.full_h100p body{ height: 100%; }


@media only screen 
  and (max-height: 559px){
    .footer_fixed{ position: absolute; }
}





/*toggle*/
.toggle_hover:hover .toggle_h_display,
.selected.toggle_h_display,
.selected.toggle_h_container .toggle_h_display {
    max-height: 50rem;
    /*transition*/
    -moz-transition: max-height 1.5s ease;
    -webkit-transition: max-height 1.5s ease;
    -o-transition: max-height 1.5s ease;
    transition: max-height 1.5s ease;    
}
.toggle_h_display{
    max-height: 0;
    overflow: hidden;
    /*transition*/
    -moz-transition: max-height 0.7s ease;
    -webkit-transition: max-height 0.7s ease;
    -o-transition: max-height 0.7s ease;
    transition: max-height 0.7s ease;
}

.toggle_hover:hover .toggle_h_display.trans_03,
.selected.toggle_h_display.trans_03,
.selected.toggle_h_container .toggle_h_display.trans_03 {
    max-height: 50rem;
    /*transition*/
    -moz-transition: max-height 1s ease;
    -webkit-transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
    transition: max-height 1s ease;    
}
.toggle_h_display.trans_03{
    max-height: 0;
    overflow: hidden;
    /*transition*/
    -moz-transition: max-height 0.3s ease;
    -webkit-transition: max-height 0.3s ease;
    -o-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
}



/*touch*/
.touch{ -webkit-touch-action: manipulation; -moz-touch-action: manipulation; touch-action: manipulation; }


/*columns card*/
.cards{ -webkit-column-fill: auto; column-fill: auto; -moz-column-fill: balance; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.cards > *{ -webkit-column-break-inside: avoid; column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}


.cards_mar_05{ -webkit-column-gap:0.5rem; -moz-column-gap:0.5rem; column-gap:0.5rem; }
.cards_mar_1{ -webkit-column-gap:1rem; -moz-column-gap:1rem; column-gap:1rem; }
.cards_mar_1p5{ -webkit-column-gap:1.5rem; -moz-column-gap:1.5rem; column-gap:1.5rem; }
.cards_mar_2{ -webkit-column-gap:2rem; -moz-column-gap:2rem; column-gap:2rem; }
.cards_mar_2p5{ -webkit-column-gap:2.5rem; -moz-column-gap:2.5rem; column-gap:2.5rem; }
.cards_mar_3{ -webkit-column-gap:3rem; -moz-column-gap:3rem; column-gap:3rem; }
.cards_mar_3p5{ -webkit-column-gap:3.5rem; -moz-column-gap:3.5rem; column-gap:3.5rem; }
.cards_mar_4{ -webkit-column-gap:4rem; -moz-column-gap:4rem; column-gap:4rem; }
.cards_mar_4p5{ -webkit-column-gap:4.5rem; -moz-column-gap:4.5rem; column-gap:4.5rem; }
.cards_mar_5{ -webkit-column-gap:5rem; -moz-column-gap:5rem; column-gap:5rem; }

.cards_mar_05 > *{ padding-top: 0.5rem; padding-bottom: 0.5rem; }
.cards_mar_1 > *{ padding-top: 1rem; padding-bottom: 1rem; }
.cards_mar_1p5 > *{ padding-top: 1.5rem; padding-bottom: 1.5rem; }
.cards_mar_2 > *{ padding-top: 2rem; padding-bottom: 2rem; }
.cards_mar_2p5 > *{ padding-top: 2.5rem; padding-bottom: 2.5rem; }
.cards_mar_3 > *{ padding-top: 3rem; padding-bottom: 3rem; }
.cards_mar_3p5 > *{ padding-top: 3.5rem; padding-bottom: 3.5rem; }
.cards_mar_4 > *{ padding-top: 4rem; padding-bottom: 4rem; }
.cards_mar_4p5 > *{ padding-top: 4.5rem; padding-bottom: 4.5rem; }
.cards_mar_5 > *{ padding-top: 5rem; padding-bottom: 5rem; }

.cards_column_1{ -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
.cards_column_2{ -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
.cards_column_3{ -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }
.cards_column_4{ -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; }
.cards_column_5{ -webkit-column-count: 5; -moz-column-count: 5; column-count: 5; }
.cards_column_6{ -webkit-column-count: 6; -moz-column-count: 6; column-count: 6; }
.cards_column_7{ -webkit-column-count: 7; -moz-column-count: 7; column-count: 7; }
.cards_column_8{ -webkit-column-count: 8; -moz-column-count: 8; column-count: 8; }
.cards_column_9{ -webkit-column-count: 9; -moz-column-count: 9; column-count: 9; }
.cards_column_10{ -webkit-column-count: 10; -moz-column-count: 10; column-count: 10; }

.cards_column_w10{ column-width: 10rem; }
.cards_column_w11{ column-width: 11rem; }
.cards_column_w12{ column-width: 12rem; }
.cards_column_w13{ column-width: 13rem; }
.cards_column_w14{ column-width: 14rem; }
.cards_column_w15{ column-width: 15rem; }
.cards_column_w16{ column-width: 16rem; }
.cards_column_w17{ column-width: 17rem; }
.cards_column_w18{ column-width: 18rem; }
.cards_column_w19{ column-width: 19rem; }
.cards_column_w20{ column-width: 20rem; }
.cards_column_w21{ column-width: 21rem; }
.cards_column_w22{ column-width: 22rem; }
.cards_column_w23{ column-width: 23rem; }
.cards_column_w24{ column-width: 24rem; }
.cards_column_w25{ column-width: 25rem; }
.cards_column_w30{ column-width: 30rem; }
.cards_column_w35{ column-width: 35rem; }
.cards_column_w40{ column-width: 40rem; }
.cards_column_w45{ column-width: 45rem; }
.cards_column_w50{ column-width: 50rem; }



/*border default*/
.border_w1px{ border-width: 1px; }
.border_w2px{ border-width: 2px; }
.border_w3px{ border-width: 3px; }
.border_w4px{ border-width: 4px; }
.border_w5px{ border-width: 5px; }
.border_solid{ border-style: solid; }
.border_dotted{ border-style: dotted; }
.border_dashed{ border-style: dashed; }

/*pos*/
.border_l{ border-top: 0; border-bottom: 0; border-right: 0; }
.border_r{ border-top: 0; border-bottom: 0; border-left: 0; }
.border_t{ border-bottom: 0; border-right: 0; border-left: 0; }
.border_b{ border-top: 0; border-right: 0; border-left: 0; }

.border_l_0{ border-left: 0; }
.border_r_0{ border-right: 0; }
.border_t_0{ border-top: 0; }
.border_b_0{ border-bottom: 0; }



/*nowrap*/
.table_nowrap th.ws_normal,
.table_nowrap td.ws_normal,
.ws_normal {
   white-space: normal;
}

.table_nowrap th.ws_pre,
.table_nowrap td.ws_pre,
.ws_pre {
   white-space: pre;
}

.table_nowrap th.ws_nowrap,
.table_nowrap td.ws_nowrap,
.ws_nowrap {
   white-space: nowrap;
}


/*rotate*/
/*rotate*/
.rotate_180,
.rotate_180_active_all.active .rotate_180_active,
.rotate_180_active.active,
.rotate_180_active_all.selected .rotate_180_active,
.rotate_180_active.selected,
.rotate_180_hover_all:hover .rotate_180_hover,
.rotate_180_hover:hover{
    /*rotation*/
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}