/*header*/
.top_position .header_fixed_mouse_rel{
	background: rgba(255,255,255,0);
}


/*css icon */
/* -----
http://svgicons.sparkk.fr/svgicons.css
----- */

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}





/*footer intro*/
.center_content_page_fixed  .footer_absolute{
	padding: 0;
}
@media only screen 
  and (max-height: 560px){

	.footer_absolute{
		margin-top: 1rem;
		position: absolute;
		/*position: relative;*/
	}
}







/*grid*/
.column_1{ width: 100%; }
.column_2{ width: 50%; }
.column_3, .column_33{ width: 33.33%; }
.column_4{ width: 25%; }
.column_5{ width: 20%; }
.column_6{ width: 16.6%; }
.column_7{ width: 14.28%; }
.column_8{ width: 12.5%; }
.column_9{ width: 11.11%; }
.column_10{ width: 10%; }
/*%*/
.column_05p{ width: 5% }
.column_10p{ width: 10% }
.column_15p{ width: 15% }
.column_20p{ width: 20% }
.column_25p{ width: 25% }
.column_30p{ width: 30%; }
.column_35p{ width: 35%; }
.column_40p{ width: 40% }
.column_45p{ width: 45% }
.column_50p{ width: 50% }
.column_55p{ width: 55% }
.column_60p{ width: 60%; }
.column_65p{ width: 65%; }
.column_70p{ width: 70%; }
.column_75p{ width: 75%; }
.column_80p{ width: 80%; }
.column_85p{ width: 85%; }
.column_90p{ width: 90%; }
.column_95p{ width: 95%; }
.column_100p{ width: 100% }

/*variaciones de grid*/

/*3*/
.g_s240_3,
/*33%*/.g_s240_33p{ width: 33.33%; }
/*10%*/.g_s240_10p{ width: 10%; }

/*16.6%*/ .g_s240_col_6{ width: 16.6%; }
/*14.28%*/ .g_s240_col_7{ width: 14.28%; }
/*12.5%*/ .g_s240_col_8{ width: 12.5%; }
/*11.11%*/ .g_s240_col_9{ width: 11.11%; }

/*20%*/.g_s240_20p{ width: 20%; }
/*25%*/.g_s240_25p{ width: 25%; }
/*30%*/.g_s240_30p{ width: 30%; }
/*40%*/.g_s240_40p{ width: 40%; }
/*50%*/.g_s240_50p{ width: 50%; }
/*60%*/.g_s240_60p{ width: 60%; }
/*70%*/.g_s240_70p{ width: 70%; }
/*80%*/.g_s240_80p{ width: 80%; }
/*90%*/.g_s240_90p{ width: 90%; }
/*100%*/.g_s240_100p{ width: 100%; }
/*auto*/.g_s240_auto{ width: auto }


.inline_divs > .only_360,
.column_container > .only_360,
.inline.only_360,
.only_360,
.inline_divs > .only_240,
.column_container > .only_240,
.inline.only_240,
.only_240,
.inline_divs > .only_480,
.column_container > .only_480,
.inline.only_480,
.only_480,
.inline_divs > .only_700,
.column_container > .only_700,
.inline.only_700,
.only_700,
.inline_divs > .only_900,
.column_container > .only_900,
.inline.only_900,
.only_900,
.inline_divs > .only_1024,
.column_container > .only_1024,
.inline.only_1024,
.only_1024,
.inline_divs > .only_1366,
.column_container > .only_1366,
.inline.only_1366,
.only_1366,
.inline_divs > .only_hd,
.column_container > .only_hd,
.inline.only_hd,
.only_hd{
    display: none;
}



.column_container > div.only_240, .inline.only_240
{ display: inline-block; }
.only_240
{ display: block; }



/*fixed*/
.fixed_tl_240_st{ left: 0; top: 0; position: fixed; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
.fixed_tr_240_st{ right: 0; top: 0; position: fixed; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
.fixed_bl_240_st{ left: 0; bottom: 0; position: fixed; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
.fixed_br_240_st{ right: 0; bottom: 0; position: fixed; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
.fixed_240_st{ position: fixed; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
/*absolute*/
.absolute_tl_240_st{ left: 0; top: 0; position: absolute; }
.absolute_tr_240_st{ right: 0; top: 0; position: absolute; }
.absolute_bl_240_st{ left: 0; bottom: 0; position: absolute; }
.absolute_br_240_st{ right: 0; bottom: 0; position: absolute; }
.absolute_240_st{ position: absolute; }
.relative_240_st{ top:auto; bottom:auto; left:auto; right:auto; position: relative; }



.top_0_240_st{ top: 0; }
.left_0_240_st{ left: 0; }
.right_0_240_st{ right: 0; }
.bottom_0_240_st{ bottom: 0; }

.top_50p_240_st{ top: 50%; }
.top_100p_240_st{ top: 100%; }

.left_50p_240_st{ left: 50%; }
.left_100p_240_st{ left: 100%; }

.right_50p_240_st{ right: 50%; }
.right_100p_240_st{ right: 100%; }

.bottom_50p_240_st{ bottom: 50%; }
.bottom_100p_240_st{ bottom: 100%; }

/*rem*/
.top_05_240_st{ top: 0.5rem; }
.top_1_240_st{ top: 1rem; }
.top_2_240_st{ top: 2rem; }
.top_3_240_st{ top: 3rem; }
.top_4_240_st{ top: 4rem; }
.top_5_240_st{ top: 5rem; }
.top_10_240_st{ top: 10rem; }
.top_15_240_st{ top: 15rem; }
.top_20_240_st{ top: 20rem; }
.top_25_240_st{ top: 25rem; }
.top_30_240_st{ top: 30rem; }
.top_35_240_st{ top: 35rem; }
.top_40_240_st{ top: 40rem; }
.top_45_240_st{ top: 45rem; }
.top_50_240_st{ top: 50rem; }
.top_55_240_st{ top: 55rem; }
.top_60_240_st{ top: 60rem; }
.top_70_240_st{ top: 70rem; }
.top_80_240_st{ top: 80rem; }
.top_90_240_st{ top: 90rem; }
.top_100_240_st{ top: 100rem; }

.left_05_240_st{ left: 0.5rem; }
.left_1_240_st{ left: 1rem; }
.left_2_240_st{ left: 2rem; }
.left_3_240_st{ left: 3rem; }
.left_4_240_st{ left: 4rem; }
.left_5_240_st{ left: 5rem; }
.left_10_240_st{ left: 10rem; }
.left_15_240_st{ left: 15rem; }
.left_20_240_st{ left: 20rem; }
.left_25_240_st{ left: 25rem; }
.left_30_240_st{ left: 30rem; }
.left_35_240_st{ left: 35rem; }
.left_40_240_st{ left: 40rem; }
.left_45_240_st{ left: 45rem; }
.left_50_240_st{ left: 50rem; }
.left_60_240_st{ left: 60rem; }
.left_70_240_st{ left: 70rem; }
.left_80_240_st{ left: 80rem; }
.left_90_240_st{ left: 90rem; }
.left_100_240_st{ left: 100rem; }

.right_05_240_st{ right: 0.5rem; }
.right_1_240_st{ right: 1rem; }
.right_2_240_st{ right: 2rem; }
.right_3_240_st{ right: 3rem; }
.right_4_240_st{ right: 4rem; }
.right_5_240_st{ right: 5rem; }
.right_10_240_st{ right: 10rem; }
.right_15_240_st{ right: 15rem; }
.right_20_240_st{ right: 20rem; }
.right_25_240_st{ right: 25rem; }
.right_30_240_st{ right: 30rem; }
.right_35_240_st{ right: 35rem; }
.right_40_240_st{ right: 40rem; }
.right_45_240_st{ right: 45rem; }
.right_50_240_st{ right: 50rem; }
.right_60_240_st{ right: 60rem; }
.right_70_240_st{ right: 70rem; }
.right_80_240_st{ right: 80rem; }
.right_90_240_st{ right: 90rem; }
.right_100_240_st{ right: 100rem; }

.bottom_05_240_st{ bottom: 0.5rem; }
.bottom_1_240_st{ bottom: 1rem; }
.bottom_2_240_st{ bottom: 2rem; }
.bottom_3_240_st{ bottom: 3rem; }
.bottom_4_240_st{ bottom: 4rem; }
.bottom_5_240_st{ bottom: 5rem; }
.bottom_10_240_st{ bottom: 10rem; }
.bottom_15_240_st{ bottom: 15rem; }
.bottom_20_240_st{ bottom: 20rem; }
.bottom_25_240_st{ bottom: 25rem; }
.bottom_30_240_st{ bottom: 30rem; }
.bottom_35_240_st{ bottom: 35rem; }
.bottom_40_240_st{ bottom: 40rem; }
.bottom_45_240_st{ bottom: 45rem; }
.bottom_50_240_st{ bottom: 50rem; }
.bottom_60_240_st{ bottom: 60rem; }
.bottom_70_240_st{ bottom: 70rem; }
.bottom_80_240_st{ bottom: 80rem; }
.bottom_90_240_st{ bottom: 90rem; }
.bottom_100_240_st{ bottom: 100rem; }




/*width*/
.wauto_240_st{ width: auto; }
.w5_240_st{ width: 5rem; }
.w10_240_st{ width: 10rem; }
.w15_240_st{ width: 15rem; }
.w20_240_st{ width: 20rem; }
.w25_240_st{ width: 25rem; }
.w30_240_st{ width: 30rem; }
.w35_240_st{ width: 35rem; }
.w40_240_st{ width: 40rem; }
.w45_240_st{ width: 45rem; }
.w50_240_st{ width: 50rem; }
.w60_240_st{ width: 60rem; }
.w70_240_st{ width: 70rem; }
.w80_240_st{ width: 80rem; }
.w90_240_st{ width: 90rem; }
.w100_240_st{ width: 100rem; }
/*height*/
.hauto_240_st{ height: auto; }
.h5_240_st{ height: 5rem; }
.h10_240_st{ height: 10rem; }
.h15_240_st{ height: 15rem; }
.h20_240_st{ height: 20rem; }
.h25_240_st{ height: 25rem; }
.h30_240_st{ height: 30rem; }
.h35_240_st{ height: 35rem; }
.h40_240_st{ height: 40rem; }
.h45_240_st{ height: 45rem; }
.h50_240_st{ height: 50rem; }
.h60_240_st{ height: 60rem; }
.h70_240_st{ height: 70rem; }
.h80_240_st{ height: 80rem; }
.h90_240_st{ height: 90rem; }
.h100_240_st{ height: 100rem; }
/*%*/
.w50p_240_st{ width: 50%; }
.w80p_240_st{ width: 80%; }
.w90p_240_st{ width: 90%; }
.w100p_240_st{ width: 100%; }
.h50p_240_st{ height: 50%; }
.h80p_240_st{ height: 80%; }
.h90p_240_st{ height: 90%; }
.h100p_240_st{ height: 100%; }


/*calc*/
/*width*/
.w100p-5_240_st{ width: calc(100% - 5rem); }
.w100p-10_240_st{ width: calc(100% - 10rem); }
.w100p-15_240_st{ width: calc(100% - 15rem); }
.w100p-20_240_st{ width: calc(100% - 20rem); }
.w100p-25_240_st{ width: calc(100% - 25rem); }
.w100p-30_240_st{ width: calc(100% - 30rem); }
.w100p-35_240_st{ width: calc(100% - 35rem); }
.w100p-40_240_st{ width: calc(100% - 40rem); }
.w100p-45_240_st{ width: calc(100% - 45rem); }
.w100p-50_240_st{ width: calc(100% - 50rem); }
.w100p-60_240_st{ width: calc(100% - 60rem); }
.w100p-70_240_st{ width: calc(100% - 70rem); }
.w100p-80_240_st{ width: calc(100% - 80rem); }
.w100p-90_240_st{ width: calc(100% - 90rem); }
.w100p-100_240_st{ width: calc(100% - 100rem); }
/*height*/
.h100p-5_240_st{ height: calc(100% - 5rem); }
.h100p-10_240_st{ height: calc(100% - 10rem); }
.h100p-15_240_st{ height: calc(100% - 15rem); }
.h100p-20_240_st{ height: calc(100% - 20rem); }
.h100p-25_240_st{ height: calc(100% - 25rem); }
.h100p-30_240_st{ height: calc(100% - 30rem); }
.h100p-35_240_st{ height: calc(100% - 35rem); }
.h100p-40_240_st{ height: calc(100% - 40rem); }
.h100p-45_240_st{ height: calc(100% - 45rem); }
.h100p-50_240_st{ height: calc(100% - 50rem); }
.h100p-60_240_st{ height: calc(100% - 60rem); }
.h100p-70_240_st{ height: calc(100% - 70rem); }
.h100p-80_240_st{ height: calc(100% - 80rem); }
.h100p-90_240_st{ height: calc(100% - 90rem); }
.h100p-100_240_st{ height: calc(100% - 100rem); }










/*max-width*/
.max_wnone_240_st{ max-width: none; }
.max_w5_240_st{ max-width: 5rem; }
.max_w10_240_st{ max-width: 10rem; }
.max_w15_240_st{ max-width: 15rem; }
.max_w20_240_st{ max-width: 20rem; }
.max_w25_240_st{ max-width: 25rem; }
.max_w30_240_st{ max-width: 30rem; }
.max_w35_240_st{ max-width: 35rem; }
.max_w40_240_st{ max-width: 40rem; }
.max_w45_240_st{ max-width: 45rem; }
.max_w50_240_st{ max-width: 50rem; }
.max_w60_240_st{ max-width: 60rem; }
.max_w70_240_st{ max-width: 70rem; }
.max_w80_240_st{ max-width: 80rem; }
.max_w90_240_st{ max-width: 90rem; }
.max_w100_240_st{ max-width: 100rem; }
/*max-height*/
.max_hnone_240_st{ max-height: none; }
.max_h5_240_st{ max-height: 5rem; }
.max_h10_240_st{ max-height: 10rem; }
.max_h15_240_st{ max-height: 15rem; }
.max_h20_240_st{ max-height: 20rem; }
.max_h25_240_st{ max-height: 25rem; }
.max_h30_240_st{ max-height: 30rem; }
.max_h35_240_st{ max-height: 35rem; }
.max_h40_240_st{ max-height: 40rem; }
.max_h45_240_st{ max-height: 45rem; }
.max_h50_240_st{ max-height: 50rem; }
.max_h60_240_st{ max-height: 60rem; }
.max_h70_240_st{ max-height: 70rem; }
.max_h80_240_st{ max-height: 80rem; }
.max_h90_240_st{ max-height: 90rem; }
.max_h100_240_st{ max-height: 100rem; }


/*min-height*/
.min_wnone_240_st{ min-width: none; }
.min_w1_240_st{ min-width: 1rem; }
.min_w2_240_st{ min-width: 2rem; }
.min_w3_240_st{ min-width: 3rem; }
.min_w4_240_st{ min-width: 4rem; }
.min_w5_240_st{ min-width: 5rem; }
.min_w6_240_st{ min-width: 6rem; }
.min_w7_240_st{ min-width: 7rem; }
.min_w8_240_st{ min-width: 8rem; }
.min_w9_240_st{ min-width: 9rem; }
.min_w10_240_st{ min-width: 10rem; }
.min_w15_240_st{ min-width: 15rem; }
.min_w20_240_st{ min-width: 20rem; }
.min_w25_240_st{ min-width: 25rem; }
.min_w30_240_st{ min-width: 30rem; }
.min_w35_240_st{ min-width: 35rem; }
.min_w40_240_st{ min-width: 40rem; }
.min_w45_240_st{ min-width: 45rem; }
.min_w50_240_st{ min-width: 50rem; }
.min_w60_240_st{ min-width: 60rem; }
.min_w70_240_st{ min-width: 70rem; }
.min_w80_240_st{ min-width: 80rem; }
.min_w90_240_st{ min-width: 90rem; }
.min_w100_240_st{ min-width: 100rem; }
/*min-height*/
.min_hnone_240_st{ min-height: none; }
.min_h1_240_st{ min-height: 1rem; }
.min_h2_240_st{ min-height: 2rem; }
.min_h3_240_st{ min-height: 3rem; }
.min_h4_240_st{ min-height: 4rem; }
.min_h5_240_st{ min-height: 5rem; }
.min_h6_240_st{ min-height: 6rem; }
.min_h7_240_st{ min-height: 7rem; }
.min_h8_240_st{ min-height: 8rem; }
.min_h9_240_st{ min-height: 9rem; }
.min_h10_240_st{ min-height: 10rem; }
.min_h15_240_st{ min-height: 15rem; }
.min_h20_240_st{ min-height: 20rem; }
.min_h25_240_st{ min-height: 25rem; }
.min_h30_240_st{ min-height: 30rem; }
.min_h35_240_st{ min-height: 35rem; }
.min_h40_240_st{ min-height: 40rem; }
.min_h45_240_st{ min-height: 45rem; }
.min_h50_240_st{ min-height: 50rem; }
.min_h60_240_st{ min-height: 60rem; }
.min_h70_240_st{ min-height: 70rem; }
.min_h80_240_st{ min-height: 80rem; }
.min_h90_240_st{ min-height: 90rem; }
.min_h100_240_st{ min-height: 100rem; }












/*pad*/
/*all*/
.pad_05_divs_240_st > *, .pad_05_240_st{ padding: 0.5rem; }
.pad_1_divs_240_st > *, .pad_1_240_st{ padding: 1rem; }
.pad_15_divs_240_st > *, .pad_15_240_st{ padding: 1.5rem; }
.pad_2_divs_240_st > *, .pad_2_240_st{ padding: 2rem; }
.pad_25_divs_240_st > *, .pad_25_240_st{ padding: 2.5rem; }
.pad_3_divs_240_st > *, .pad_3_240_st{ padding: 3rem; }
.pad_35_divs_240_st > *, .pad_35_240_st{ padding: 3.5rem; }
.pad_4_divs_240_st > *, .pad_4_240_st{ padding: 4rem; }
.pad_45_divs_240_st > *, .pad_45_240_st{ padding: 4.5rem; }
.pad_5_divs_240_st > *, .pad_5_240_st{ padding: 5rem; }
.pad_10_divs_240_st > *, .pad_10_240_st{ padding: 10rem; }

.pad_15r_divs_240_st > *, .pad_15r_240_st{ padding: 15rem; }
.pad_20r_divs_240_st > *, .pad_20r_240_st{ padding: 20rem; }
.pad_25r_divs_240_st > *, .pad_25r_240_st{ padding: 25rem; }
.pad_30r_divs_240_st > *, .pad_30r_240_st{ padding: 30rem; }
.pad_35r_divs_240_st > *, .pad_35r_240_st{ padding: 35rem; }
.pad_40r_divs_240_st > *, .pad_40r_240_st{ padding: 40rem; }
.pad_45r_divs_240_st > *, .pad_45r_240_st{ padding: 45rem; }
.pad_50r_divs_240_st > *, .pad_50r_240_st{ padding: 50rem; }


/*top - bottom*/
.pad_tb_0_240_st{ padding-top: 0; padding-bottom: 0; }
.pad_tb_05_240_st{ padding-top: 0.5rem; padding-bottom: 0.5rem; }
.pad_tb_1_240_st{ padding-top: 1rem; padding-bottom: 1rem; }
.pad_tb_15_240_st{ padding-top: 1.5rem; padding-bottom: 1.5rem; }
.pad_tb_2_240_st{ padding-top: 2rem; padding-bottom: 2rem; }
.pad_tb_25_240_st{ padding-top: 2.5rem; padding-bottom: 2.5rem; }
.pad_tb_3_240_st{ padding-top: 3rem; padding-bottom: 3rem; }
.pad_tb_35_240_st{ padding-top: 3.5rem; padding-bottom: 3.5rem; }
.pad_tb_4_240_st{ padding-top: 4rem; padding-bottom: 4rem; }
.pad_tb_45_240_st{ padding-top: 4.5rem; padding-bottom: 4.5rem; }
.pad_tb_5_240_st{ padding-top: 5rem; padding-bottom: 5rem; }
.pad_tb_10_240_st{ padding-top: 10rem; padding-bottom: 10rem; }
.pad_tb_15r_240_st{ padding-top: 15rem; padding-bottom: 15rem; }
.pad_tb_20r_240_st{ padding-top: 20rem; padding-bottom: 20rem; }
.pad_tb_25r_240_st{ padding-top: 25rem; padding-bottom: 25rem; }
.pad_tb_30r_240_st{ padding-top: 30rem; padding-bottom: 30rem; }
.pad_tb_35r_240_st{ padding-top: 35rem; padding-bottom: 35rem; }
.pad_tb_40r_240_st{ padding-top: 40rem; padding-bottom: 40rem; }
.pad_tb_45r_240_st{ padding-top: 45rem; padding-bottom: 45rem; }
.pad_tb_50r_240_st{ padding-top: 50rem; padding-bottom: 50rem; }


/*left - right*/
.pad_lr_0_240_st{ padding-left: 0; padding-right: 0; }
.pad_lr_05_240_st{ padding-left: 0.5rem; padding-right: 0.5rem; }
.pad_lr_1_240_st{ padding-left: 1rem; padding-right: 1rem; }
.pad_lr_15_240_st{ padding-left: 1.5rem; padding-right: 1.5rem; }
.pad_lr_2_240_st{ padding-left: 2rem; padding-right: 2rem; }
.pad_lr_25_240_st{ padding-left: 2.5rem; padding-right: 2.5rem; }
.pad_lr_3_240_st{ padding-left: 3rem; padding-right: 3rem; }
.pad_lr_35_240_st{ padding-left: 3.5rem; padding-right: 3.5rem; }
.pad_lr_4_240_st{ padding-left: 4rem; padding-right: 4rem; }
.pad_lr_45_240_st{ padding-left: 4.5rem; padding-right: 4.5rem; }
.pad_lr_5_240_st{ padding-left: 5rem; padding-right: 5rem; }
.pad_lr_10_240_st{ padding-left: 10rem; padding-right: 10rem; }
.pad_lr_15r_240_st{ padding-left: 15rem; padding-right: 15rem; }
.pad_lr_20r_240_st{ padding-left: 20rem; padding-right: 20rem; }
.pad_lr_25r_240_st{ padding-left: 25rem; padding-right: 25rem; }
.pad_lr_30r_240_st{ padding-left: 30rem; padding-right: 30rem; }
.pad_lr_35r_240_st{ padding-left: 35rem; padding-right: 35rem; }
.pad_lr_40r_240_st{ padding-left: 40rem; padding-right: 40rem; }
.pad_lr_45r_240_st{ padding-left: 45rem; padding-right: 45rem; }
.pad_lr_50r_240_st{ padding-left: 50rem; padding-right: 50rem; }


/*top*/
.pad_t_0_240_st{ padding-top: 0rem; }
.pad_t_05_240_st{ padding-top: 0.5rem; }
.pad_t_1_240_st{ padding-top: 1rem; }
.pad_t_15_240_st{ padding-top: 1.5rem; }
.pad_t_2_240_st{ padding-top: 2rem; }
.pad_t_25_240_st{ padding-top: 2.5rem; }
.pad_t_3_240_st{ padding-top: 3rem; }
.pad_t_35_240_st{ padding-top: 3.5rem; }
.pad_t_4_240_st{ padding-top: 4rem; }
.pad_t_45_240_st{ padding-top: 4.5rem; }
.pad_t_5_240_st{ padding-top: 5rem; }
.pad_t_10_240_st{ padding-top: 10rem; }
.pad_t_15r_240_st{ padding-top: 15rem; }
.pad_t_20r_240_st{ padding-top: 20rem; }
.pad_t_25r_240_st{ padding-top: 25rem; }
.pad_t_30r_240_st{ padding-top: 30rem; }
.pad_t_35r_240_st{ padding-top: 35rem; }
.pad_t_40r_240_st{ padding-top: 40rem; }
.pad_t_45r_240_st{ padding-top: 45rem; }
.pad_t_50r_240_st{ padding-top: 50rem; }


/*bottom*/
.pad_b_0_240_st{ padding-bottom: 0rem; }
.pad_b_05_240_st{ padding-bottom: 0.5rem; }
.pad_b_1_240_st{ padding-bottom: 1rem; }
.pad_b_15_240_st{ padding-bottom: 1.5rem; }
.pad_b_2_240_st{ padding-bottom: 2rem; }
.pad_b_25_240_st{ padding-bottom: 2.5rem; }
.pad_b_3_240_st{ padding-bottom: 3rem; }
.pad_b_35_240_st{ padding-bottom: 3.5rem; }
.pad_b_4_240_st{ padding-bottom: 4rem; }
.pad_b_45_240_st{ padding-bottom: 4.5rem; }
.pad_b_5_240_st{ padding-bottom: 5rem; }
.pad_b_10_240_st{ padding-bottom: 10rem; }
.pad_b_15r_240_st{ padding-bottom: 15rem; }
.pad_b_20r_240_st{ padding-bottom: 20rem; }
.pad_b_25r_240_st{ padding-bottom: 25rem; }
.pad_b_30r_240_st{ padding-bottom: 30rem; }
.pad_b_35r_240_st{ padding-bottom: 35rem; }
.pad_b_40r_240_st{ padding-bottom: 40rem; }
.pad_b_45r_240_st{ padding-bottom: 45rem; }
.pad_b_50r_240_st{ padding-bottom: 50rem; }


/*left*/
.pad_l_0_240_st{ padding-left: 0rem; }
.pad_l_05_240_st{ padding-left: 0.5rem; }
.pad_l_1_240_st{ padding-left: 1rem; }
.pad_l_15_240_st{ padding-left: 1.5rem; }
.pad_l_2_240_st{ padding-left: 2rem; }
.pad_l_25_240_st{ padding-left: 2.5rem; }
.pad_l_3_240_st{ padding-left: 3rem; }
.pad_l_35_240_st{ padding-left: 3.5rem; }
.pad_l_4_240_st{ padding-left: 4rem; }
.pad_l_45_240_st{ padding-left: 4.5rem; }
.pad_l_5_240_st{ padding-left: 5rem; }
.pad_l_10_240_st{ padding-left: 10rem; }
.pad_l_15r_240_st{ padding-left: 15rem; }
.pad_l_20r_240_st{ padding-left: 20rem; }
.pad_l_25r_240_st{ padding-left: 25rem; }
.pad_l_30r_240_st{ padding-left: 30rem; }
.pad_l_35r_240_st{ padding-left: 35rem; }
.pad_l_40r_240_st{ padding-left: 40rem; }
.pad_l_45r_240_st{ padding-left: 45rem; }
.pad_l_50r_240_st{ padding-left: 50rem; }


/*right*/
.pad_r_0_240_st{ padding-right: 0rem; }
.pad_r_05_240_st{ padding-right: 0.5rem; }
.pad_r_1_240_st{ padding-right: 1rem; }
.pad_r_15_240_st{ padding-right: 1.5rem; }
.pad_r_2_240_st{ padding-right: 2rem; }
.pad_r_25_240_st{ padding-right: 2.5rem; }
.pad_r_3_240_st{ padding-right: 3rem; }
.pad_r_35_240_st{ padding-right: 3.5rem; }
.pad_r_4_240_st{ padding-right: 4rem; }
.pad_r_45_240_st{ padding-right: 4.5rem; }
.pad_r_5_240_st{ padding-right: 5rem; }
.pad_r_10_240_st{ padding-right: 10rem; }
.pad_r_15r_240_st{ padding-right: 15rem; }
.pad_r_20r_240_st{ padding-right: 20rem; }
.pad_r_25r_240_st{ padding-right: 25rem; }
.pad_r_30r_240_st{ padding-right: 30rem; }
.pad_r_35r_240_st{ padding-right: 35rem; }
.pad_r_40r_240_st{ padding-right: 40rem; }
.pad_r_45r_240_st{ padding-right: 45rem; }
.pad_r_50r_240_st{ padding-right: 50rem; }



.pad_05_divs_240_st > *, .pad_05_240_st,.pad_1_divs_240_st > *, .pad_1_240_st,.pad_15_divs_240_st > *, .pad_15_240_st,.pad_2_divs_240_st > *, .pad_2_240_st,.pad_25_divs_240_st > *, .pad_25_240_st,.pad_3_divs_240_st > *, .pad_3_240_st,.pad_35_divs_240_st > *, .pad_35_240_st,.pad_4_divs_240_st > *, .pad_4_240_st,.pad_45_divs_240_st > *, .pad_45_240_st,.pad_5_divs_240_st > *, .pad_5_240_st,.pad_10_divs_240_st > *, .pad_10_240_st,.pad_15r_divs_240_st > *, .pad_15r_240_st,.pad_20r_divs_240_st > *, .pad_20r_240_st,.pad_25r_divs_240_st > *, .pad_25r_240_st,.pad_30r_divs_240_st > *, .pad_30r_240_st,.pad_35r_divs_240_st > *, .pad_35r_240_st,.pad_40r_divs_240_st > *, .pad_40r_240_st,.pad_45r_divs_240_st > *, .pad_45r_240_st,.pad_50r_divs_240_st > *, .pad_50r_240_st,.pad_tb_0_240_st,.pad_tb_05_240_st,.pad_tb_1_240_st,.pad_tb_15_240_st,.pad_tb_2_240_st,.pad_tb_25_240_st,.pad_tb_3_240_st,.pad_tb_35_240_st,.pad_tb_4_240_st,.pad_tb_45_240_st,.pad_tb_5_240_st,.pad_tb_10_240_st,.pad_tb_15r_240_st,.pad_tb_20r_240_st,.pad_tb_25r_240_st,.pad_tb_30r_240_st,.pad_tb_35r_240_st,.pad_tb_40r_240_st,.pad_tb_45r_240_st,.pad_tb_50r_240_st,.pad_lr_0_240_st,.pad_lr_05_240_st,.pad_lr_1_240_st,.pad_lr_15_240_st,.pad_lr_2_240_st,.pad_lr_25_240_st,.pad_lr_3_240_st,.pad_lr_35_240_st,.pad_lr_4_240_st,.pad_lr_45_240_st,.pad_lr_5_240_st,.pad_lr_10_240_st,.pad_lr_15r_240_st,.pad_lr_20r_240_st,.pad_lr_25r_240_st,.pad_lr_30r_240_st,.pad_lr_35r_240_st,.pad_lr_40r_240_st,.pad_lr_45r_240_st,.pad_lr_50r_240_st,.pad_t_0_240_st,.pad_t_05_240_st,.pad_t_1_240_st,.pad_t_15_240_st,.pad_t_2_240_st,.pad_t_25_240_st,.pad_t_3_240_st,.pad_t_35_240_st,.pad_t_4_240_st,.pad_t_45_240_st,.pad_t_5_240_st,.pad_t_10_240_st,.pad_t_15r_240_st,.pad_t_20r_240_st,.pad_t_25r_240_st,.pad_t_30r_240_st,.pad_t_35r_240_st,.pad_t_40r_240_st,.pad_t_45r_240_st,.pad_t_50r_240_st,.pad_b_0_240_st,.pad_b_05_240_st,.pad_b_1_240_st,.pad_b_15_240_st,.pad_b_2_240_st,.pad_b_25_240_st,.pad_b_3_240_st,.pad_b_35_240_st,.pad_b_4_240_st,.pad_b_45_240_st,.pad_b_5_240_st,.pad_b_10_240_st,.pad_b_15r_240_st,.pad_b_20r_240_st,.pad_b_25r_240_st,.pad_b_30r_240_st,.pad_b_35r_240_st,.pad_b_40r_240_st,.pad_b_45r_240_st,.pad_b_50r_240_st,.pad_l_0_240_st,.pad_l_05_240_st,.pad_l_1_240_st,.pad_l_15_240_st,.pad_l_2_240_st,.pad_l_25_240_st,.pad_l_3_240_st,.pad_l_35_240_st,.pad_l_4_240_st,.pad_l_45_240_st,.pad_l_5_240_st,.pad_l_10_240_st,.pad_l_15r_240_st,.pad_l_20r_240_st,.pad_l_25r_240_st,.pad_l_30r_240_st,.pad_l_35r_240_st,.pad_l_40r_240_st,.pad_l_45r_240_st,.pad_l_50r_240_st,.pad_r_0_240_st,.pad_r_05_240_st,.pad_r_1_240_st,.pad_r_15_240_st,.pad_r_2_240_st,.pad_r_25_240_st,.pad_r_3_240_st,.pad_r_35_240_st,.pad_r_4_240_st,.pad_r_45_240_st,.pad_r_5_240_st,.pad_r_10_240_st,.pad_r_15r_240_st,.pad_r_20r_240_st,.pad_r_25r_240_st,.pad_r_30r_240_st,.pad_r_35r_240_st,.pad_r_40r_240_st,.pad_r_45r_240_st,.pad_r_50r_240_st{
	/*box-sizing*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}



/*align*/
.text-center_240_st{ text-align: center; }
.text-left_240_st{ text-align: left; }
.text-right_240_st{ text-align: right; }
.text-justify_240_st{ text-align: justify; }




/*columns cards*/
.cards_mar_05_240_st{ -webkit-column-gap:0.5rem; -moz-column-gap:0.5rem; column-gap:0.5rem; }
.cards_mar_1_240_st{ -webkit-column-gap:1rem; -moz-column-gap:1rem; column-gap:1rem; }
.cards_mar_1p5_240_st{ -webkit-column-gap:1.5rem; -moz-column-gap:1.5rem; column-gap:1.5rem; }
.cards_mar_2_240_st{ -webkit-column-gap:2rem; -moz-column-gap:2rem; column-gap:2rem; }
.cards_mar_2p5_240_st{ -webkit-column-gap:2.5rem; -moz-column-gap:2.5rem; column-gap:2.5rem; }
.cards_mar_3_240_st{ -webkit-column-gap:3rem; -moz-column-gap:3rem; column-gap:3rem; }
.cards_mar_3p5_240_st{ -webkit-column-gap:3.5rem; -moz-column-gap:3.5rem; column-gap:3.5rem; }
.cards_mar_4_240_st{ -webkit-column-gap:4rem; -moz-column-gap:4rem; column-gap:4rem; }
.cards_mar_4p5_240_st{ -webkit-column-gap:4.5rem; -moz-column-gap:4.5rem; column-gap:4.5rem; }
.cards_mar_5_240_st{ -webkit-column-gap:5rem; -moz-column-gap:5rem; column-gap:5rem; }

.cards_column_1_240_st{ -webkit-column-count: 1; -moz-column-count: 1; column-count: 1; }
.cards_column_2_240_st{ -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
.cards_column_3_240_st{ -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }
.cards_column_4_240_st{ -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; }
.cards_column_5_240_st{ -webkit-column-count: 5; -moz-column-count: 5; column-count: 5; }
.cards_column_6_240_st{ -webkit-column-count: 6; -moz-column-count: 6; column-count: 6; }
.cards_column_7_240_st{ -webkit-column-count: 7; -moz-column-count: 7; column-count: 7; }
.cards_column_8_240_st{ -webkit-column-count: 8; -moz-column-count: 8; column-count: 8; }
.cards_column_9_240_st{ -webkit-column-count: 9; -moz-column-count: 9; column-count: 9; }
.cards_column_10_240_st{ -webkit-column-count: 10; -moz-column-count: 10; column-count: 10; }