.inline_divs > .only_360,
.column_container > .only_360,
.inline.only_360,
.only_360,
.inline_divs > .only_240,
.column_container > .only_240,
.inline.only_240,
.only_240,
.inline_divs > .only_480,
.column_container > .only_480,
.inline.only_480,
.only_480,
.inline_divs > .only_700,
.column_container > .only_700,
.inline.only_700,
.only_700,
.inline_divs > .only_900,
.column_container > .only_900,
.inline.only_900,
.only_900,
.inline_divs > .only_1024,
.column_container > .only_1024,
.inline.only_1024,
.only_1024,
.inline_divs > .only_1366,
.column_container > .only_1366,
.inline.only_1366,
.only_1366,
.inline_divs > .only_hd,
.column_container > .only_hd,
.inline.only_hd,
.only_hd{
    display: none;
}

.only_240
{ display: block; }



/*fixed*/
.fixed_tl_s240{ left: 0; top: 0; position: fixed; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
.fixed_tr_s240{ right: 0; top: 0; position: fixed; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
.fixed_bl_s240{ left: 0; bottom: 0; position: fixed; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
.fixed_br_s240{ right: 0; bottom: 0; position: fixed; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
.fixed_s240{ position: fixed; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; }
/*absolute*/
.absolute_tl_s240{ left: 0; top: 0; position: absolute; }
.absolute_tr_s240{ right: 0; top: 0; position: absolute; }
.absolute_bl_s240{ left: 0; bottom: 0; position: absolute; }
.absolute_br_s240{ right: 0; bottom: 0; position: absolute; }
.absolute_s240{ position: absolute; }
.relative_s240{ top:auto; bottom:auto; left:auto; right:auto; position: relative; }




.top_0_s240{ top: 0; }
.left_0_s240{ left: 0; }
.right_0_s240{ right: 0; }
.bottom_0_s240{ bottom: 0; }

.top_50p_s240{ top: 50%; }
.top_100p_s240{ top: 100%; }

.left_50p_s240{ left: 50%; }
.left_100p_s240{ left: 100%; }

.right_50p_s240{ right: 50%; }
.right_100p_s240{ right: 100%; }

.bottom_50p_s240{ bottom: 50%; }
.bottom_100p_s240{ bottom: 100%; }

/*rem*/
.top_05_s240{ top: 0.5rem; }
.top_1_s240{ top: 1rem; }
.top_2_s240{ top: 2rem; }
.top_3_s240{ top: 3rem; }
.top_4_s240{ top: 4rem; }
.top_5_s240{ top: 5rem; }
.top_10_s240{ top: 10rem; }
.top_15_s240{ top: 15rem; }
.top_20_s240{ top: 20rem; }
.top_25_s240{ top: 25rem; }
.top_30_s240{ top: 30rem; }
.top_35_s240{ top: 35rem; }
.top_40_s240{ top: 40rem; }
.top_45_s240{ top: 45rem; }
.top_50_s240{ top: 50rem; }
.top_55_s240{ top: 55rem; }
.top_60_s240{ top: 60rem; }
.top_70_s240{ top: 70rem; }
.top_80_s240{ top: 80rem; }
.top_90_s240{ top: 90rem; }
.top_100_s240{ top: 100rem; }

.left_05_s240{ left: 0.5rem; }
.left_1_s240{ left: 1rem; }
.left_2_s240{ left: 2rem; }
.left_3_s240{ left: 3rem; }
.left_4_s240{ left: 4rem; }
.left_5_s240{ left: 5rem; }
.left_10_s240{ left: 10rem; }
.left_15_s240{ left: 15rem; }
.left_20_s240{ left: 20rem; }
.left_25_s240{ left: 25rem; }
.left_30_s240{ left: 30rem; }
.left_35_s240{ left: 35rem; }
.left_40_s240{ left: 40rem; }
.left_45_s240{ left: 45rem; }
.left_50_s240{ left: 50rem; }
.left_60_s240{ left: 60rem; }
.left_70_s240{ left: 70rem; }
.left_80_s240{ left: 80rem; }
.left_90_s240{ left: 90rem; }
.left_100_s240{ left: 100rem; }

.right_05_s240{ right: 0.5rem; }
.right_1_s240{ right: 1rem; }
.right_2_s240{ right: 2rem; }
.right_3_s240{ right: 3rem; }
.right_4_s240{ right: 4rem; }
.right_5_s240{ right: 5rem; }
.right_10_s240{ right: 10rem; }
.right_15_s240{ right: 15rem; }
.right_20_s240{ right: 20rem; }
.right_25_s240{ right: 25rem; }
.right_30_s240{ right: 30rem; }
.right_35_s240{ right: 35rem; }
.right_40_s240{ right: 40rem; }
.right_45_s240{ right: 45rem; }
.right_50_s240{ right: 50rem; }
.right_60_s240{ right: 60rem; }
.right_70_s240{ right: 70rem; }
.right_80_s240{ right: 80rem; }
.right_90_s240{ right: 90rem; }
.right_100_s240{ right: 100rem; }

.bottom_05_s240{ bottom: 0.5rem; }
.bottom_1_s240{ bottom: 1rem; }
.bottom_2_s240{ bottom: 2rem; }
.bottom_3_s240{ bottom: 3rem; }
.bottom_4_s240{ bottom: 4rem; }
.bottom_5_s240{ bottom: 5rem; }
.bottom_10_s240{ bottom: 10rem; }
.bottom_15_s240{ bottom: 15rem; }
.bottom_20_s240{ bottom: 20rem; }
.bottom_25_s240{ bottom: 25rem; }
.bottom_30_s240{ bottom: 30rem; }
.bottom_35_s240{ bottom: 35rem; }
.bottom_40_s240{ bottom: 40rem; }
.bottom_45_s240{ bottom: 45rem; }
.bottom_50_s240{ bottom: 50rem; }
.bottom_60_s240{ bottom: 60rem; }
.bottom_70_s240{ bottom: 70rem; }
.bottom_80_s240{ bottom: 80rem; }
.bottom_90_s240{ bottom: 90rem; }
.bottom_100_s240{ bottom: 100rem; }


